[2015-07-16 04:37] hzalaz opened #1 "Setting @current_user in authenticable.rb"
In [authenticable.rb](https://github.com/nsarno/knock/blob/master/lib/knock/authenticable.rb#L8) the `@current_user` is retrieved like this

[code]

but since there is no User model in the lib it will force whoever who uses knock to have a model named `User` and expect a claim named `user_id` to be present in the JWT.
What I'd like to have is a way to define how the user is retrieved from my DB, e

[2015-07-16 10:33] nsarno commented on #1
The gem in its original version is very opinionated as it's pulled from personal use cases. But I totally agree that it should evolve towards a more generic solution.

Thank you for your suggestions, I implemented them. This should resolve the issue.

[2015-07-16 12:07] nsarno commented on #1
I released a new version of the gem (1.2.0)

[2015-07-16 12:07] #1 closed

[2015-08-20 17:27] gottfrois opened #4 "Can't rely on `current_user_from_token` in authenticate method"
If you change default `config.current_user_from_token` from

[code]

to some code not raising an exception like

[code]

or something more useful

[code]

Then the following method used to check authenticity won't work anymore https://github.com/nsarno/knock/blob/master/lib/knock/authenticable.rb#L5-L9

[2015-08-20 17:55] nsarno commented on #4
In the current implementation, you need to raise an exception. I will update the documentation to reflect this.

You can use `find_or_create_by!` in your example to make it work.

Do you see any reason not to do this?

[2015-08-20 18:09] gottfrois commented on #4
Thanks for the explanation. I find this pretty fragile since the developer could forget to raise an exception and it will not trigger the forbidden http request :-/

I think it would be safe to check user presence in your side and raise a custom exception. In general, it's not a bad idea to catch framework exceptions and to re-raise your own ones directly after.

[2015-08-20 18:11] gottfrois commented on #4
BTW `find_or_create_by!` would not work here since it would just make sure the new instance about to be created is `valid?` or not. It would defeat the purpose to raise an exception if a record is not found since if that's the case, well, you want to create one :)

[2015-08-20 18:38] #4 closed

[2015-08-20 18:44] nsarno commented on #4
Thanks for the feedback.

I definitely agree this could improve in future versions.

I'm not sure I understand why you would want to use a `find_or_create_by` here. Could you give me a more detailed use case?

[2015-08-20 22:32] gottfrois commented on #4
I only use auth0 social authentications strategies. There is no registration steps. The user only logins using one of his social account. So the first time I need to create a user entity in my database. I am not sure it the place to do that but after talking with someone on the auth0 chan this is what he told me to do.

[2015-08-24 10:55] duboff opened #5 "Unable to autoload constant Engine"
Getting the following error (I followed the Auth0 manual)
[code]

Any idea why this is happening? Appreciate any pointers.

[2015-08-25 07:44] nsarno commented on #5
I need more informations in order to help you. At least a complete stack trace. And maybe the code related to knock you added to your project. Thanks.

[2015-08-25 08:47] duboff commented on #5
Yep, so I eventually figured out it was driven by the jsonapi_resources gem. Somehow the two do not communicate correctly. I unfortunately don't have the stack trace anymore, but the problem was in this line: https://github.com/cerebris/jsonapi-resources/blob/master/lib/jsonapi/link_builder.rb#L19

I eventually reverted to the jwt gem and it's all working now. It's a shame because knock seemed a l

[2015-08-25 09:20] nsarno commented on #5
If you give me more details on how to reproduce this issue, I'll be able to figure out if it comes from `knock` or `jsonapi-resources` and fix it. Thanks for your feedback.

[2015-08-25 09:22] duboff commented on #5
I think it comes from the jsonapi_resources. I have very typical API with jsonapi_resources and the recommended knock configuration, exactly like in both manuals. I'll try to create a toy app when I have time.

[2015-08-25 09:26] nsarno commented on #5
Sounds good. Maybe you can start from [this jsonapi-resources example app](https://github.com/cerebris/peeps).

[2015-09-04 14:18] yordis opened #6 "Token verification fail"
I just download this example from Auth0 https://github.com/auth0/auth0-rubyonrailsapi-sample and for some reason if you pass **verify=true** it fail.

I traced it down to this line https://github.com/nsarno/knock/blob/master/app/model/knock/auth_token.rb#L9 so after that the problem is JWT gem but it works with that flag in false but at the same time that have to be true :smile:

[2015-09-04 14:45] nsarno commented on #6
Could you provide a failing test so I can reproduce the issue? Thanks

[2015-09-04 14:50] yordis commented on #6
[code]

[code]

[2015-09-04 15:13] nsarno commented on #6
The example you linked is not using the Knock gem.

This is the correct sample application from Auth0 using the Knock gem:

[auth0-ruby-samples/ruby-on-rails-api](https://github.com/auth0/auth0-ruby-samples/tree/master/ruby-on-rails-api)

Is this the one you are talking about?

If so, can you provide a failing test that I can run to reproduce the issue. Something that looks like the `test/secured_

[2015-09-04 15:39] yordis commented on #6
@nsarno is the other example but for some reason was something related to postman

thanks for your help.

[2015-09-04 15:39] #6 closed

[2015-09-07 06:21] brandonpittman opened #7 "No method error: User doesn't have 'authenticate'"
Knock looks like a great solution but I'm having issues. I know Knock is in there. The routes are registered and when I hit a secured page with no headers supplied, I get a 401. However, when I do supply the correct headers, I get this no method error. Any ideas what's up?

https://github.com/brandonpittman/knock_test/blob/master/app/controllers/users_controller.rb

Has anyone done a tutorial usin

[2015-09-07 10:40] nsarno commented on #7
Add the `bcrypt` gem to your Gemfile (it's usually present but commented by default), and use [has_secure_password](http://api.rubyonrails.org/classes/ActiveModel/SecurePassword/ClassMethods.html#method-i-has_secure_password) in your User model.

[code]

Alternatively you could provide your own `authenticate` method that takes the user password in argument and returns a boolean.

This was not ment

[2015-09-07 10:44] brandonpittman commented on #7
Thanks for responding. I was thinking I was going crazy and missed something.

[2015-09-07 11:05] #7 closed

[2015-09-17 20:07] duboff commented on #5
Hi, apologies for the long wait but I was finally able to replicate the problem in a demo app. It seems that the problem is somehow related to the newer version of jsonapi_resources. Here is the app: https://github.com/duboff/peeps

[2015-09-17 20:08] duboff commented on #5
To recreate, launch and try visiting http://localhost:3000/api/contacts

[2015-09-17 22:00] ricsdeol opened #8 "How to skip authenticate! some specific actions?"
Hello I'm trying skip athenticate method this way:

[code]

but this is not working.

Can you help me?

[2015-09-17 23:33] nsarno commented on #8
[skip_before_filter](http://apidock.com/rails/ActionController/Filters/ClassMethods/skip_before_filter) is deprecated.

You can do this instead:

[code]

[2015-09-17 23:33] #8 closed

[2015-09-18 01:13] nsarno commented on #5
Thank you for the demo app!

I've been trying to understand what should be fixed. And it seems to me that neither `knock` or `jsonapi-resources` is doing anything wrong.

But it makes no sense to me why the following happens:

[code]

and

[code]

I believe something like this should happen instead:

[code]

The path `lib/knock/engine.rb` should NOT be expected to define a constant `Engine`.
It sh

[2015-09-18 08:06] duboff commented on #5
I think it might be related to this: https://github.com/cerebris/jsonapi-resources/pull/443 which was merged recently so maybe it will go away in the next version

[2015-09-20 07:51] nsarno commented on #5
Unfortunaltey no, this issue is unrelated.

I opened another issue here: [cerebris/jsonapi-resources/issues/450](https://github.com/cerebris/jsonapi-resources/issues/450), so I'm closing this one for the moment.

[2015-09-20 07:51] #5 closed

[2015-09-21 14:00] ricsdeol commented on #8
Oh I forgot this, thanks!!!! @nsarno

[2015-09-25 03:19] anthonator opened #11 "Using multiple authentication strategies"
How would you provide authentication using email/password and facebook login?

[2015-09-25 04:06] nsarno commented on #11
Could you give more details about what you are trying to achieve? Thanks

[2015-09-25 04:38] anthonator commented on #11
I want the user to have the options of logging in with an email/password or a social account (Facebook).

I store the social account info differently than the email/password.

Didn't look like there was a way to differentiate the type of credentials using knock.

[2015-09-25 05:05] nsarno commented on #11
By more details I meant are you using knock inside a rails API interacting with a single page javascript application? Something else? If you could try to describe more precisely what you already have and what you are missing I could give you better answers.

This is how you can customize how you retrieve the user when signing in:

[code]

Note that this will be deprecated in future versions of Kno

[2015-09-25 18:57] anthonator commented on #11
I will be using Knock for an SPA and 2 mobile apps.

The problem is that I'm storing the social ids and the email and password differently. So the fact that the `authenticate` method only provides a `password` parameter doesn't give me the context I need to determine whether I should be checking against a social id or a crypted password.

I'm not actually storing the OAuth token as I don't really

[2015-09-26 04:29] nsarno commented on #11
Social authentication is out of the scope of knock for the moment. Although it is definitely something I'd like to implement in the future.

For the moment, what you can do is implement your own controller that retrieves (or creates) a user from social authentication and responds with a JWT token.

Here's how you can generate a JWT token using Knock:

[code]

The "flow" would probably be something

[2015-09-26 04:29] #11 closed

[2015-09-26 07:28] anthonator commented on #11
Honestly, I see this as a flexibility issue and not something specific to social auth.

If you were to make params available when finding and authenticating a user you'd provide a lot more flexibility.

I'm excited to see where this gem goes. I would love to see a solid JWT implementation for Rails.

Thanks again for putting time into my problem. I'll give your suggestion a shot.

I really appreci

[2015-09-26 08:57] nsarno commented on #11
The v2 is already providing more flexibility as you can access the params to retrieve a user if you need to. Have a look at the [changelog](https://github.com/nsarno/knock/blob/v2/CHANGELOG.md) if you're interested! This has not been released yet and it is still subject to change.

[2015-09-26 15:51] anthonator commented on #11
Awesome! I'll give v2 a look. Would you say it's beta? Alpha?

[2015-09-26 22:43] nsarno commented on #11
Alpha, it's stable but the design could change.
On Sun, Sep 27, 2015 at 01:51 Anthony Smith <notifications@github.com>
wrote:

[2015-09-27 21:47] anthonator opened #12 "Allow passing auth_params as a whole to authenticate (v2)"
This would give the implementer the freedom to implement `authenticate` how they choose. I may want to pass additional information to `authenticate` or provide a password-less authentication mechanism.

Granted, it looks like you're trying to adhere to the interface that `has_secure_password` provides, but there are many use cases where this doesn't work. So making it a configurable option might m

[2015-09-27 22:11] anthonator commented on #12
or an even easier approach, document the `authenticate` controller method and inform people how to override.

[2015-09-27 23:44] nsarno commented on #12
The auth token controller that knock provides is oriented towards a solution based on `has_secure_password` as this is what people will try to implement most of the time.

In the v2, as of now, the auth token is generated per user model with the following command:

[code]

This will generate `app/controllers/user_token_controller.rb`:

[code]

So if your authentication mechanism is something reall

[2015-09-27 23:45] nsarno commented on #12
I just added a `to_json` method to `AuthToken` so the example code above is valid.

[2015-09-27 23:54] nsarno commented on #12
Also if you implement a generic solution to authenticate from OAuth (or something else), it would be great to add it directly to knock.

It could look something like this (not sure about the naming but this is just a general idea):

[code]

generates `app/controllers/user_token_controller.rb`:
[code]

[2015-09-27 23:57] nsarno commented on #12
As you suggested, I actually need to document this for the V2. So I reopen the issue until it's done.

Thank you for the feedback.

[2015-09-28 00:44] anthonator commented on #12
Here's what I came up with for my own use case. All I really needed was the ability to define my own authentication strategy rather than being shoehorned into a predefined one defined by `has_secure_password`. I think this provides the ultimate flexibility.

I'd call this the **Bring Your Own Strategy** strategy.

[code]

[2015-09-28 01:09] nsarno commented on #12
Although this is perfectly fine, I would rather advertise overriding the `create` method as still using `Knock::AuthTokenController` in this case makes your code harder to understand and only saves you ~5 loc.

[2015-09-28 04:46] anthonator commented on #12
Sorry if I'm being dense but I'm not following. Even if I override the `create` method won't I still be using the `Knock::AuthTokenController`? Are you talking about another controller that doesn't subclass `Knock::AuthTokenController`?

[2015-09-28 05:03] nsarno commented on #12
No worries.

If you provide your own `create` method, you don't need to inherit from `Knock::AuthTokenController`. I should not have talked about "overriding" because all you do is provide your own controller. Sorry if that got you confused.

[2015-10-27 12:24] ricsdeol opened #13 "Time of token expiration?"
Hi, how long the token is valid?
Is there a way to configure this time?

Thanks!!

Congratulations for the job with this gem!!!

[2015-10-27 12:29] ricsdeol commented on #13
I found thsi!!

https://github.com/nsarno/knock/blob/master/lib/generators/templates/knock.rb
  ## Expiration claim
  ## ----------------
  ##
  ## How long before a token is expired.
  ##
  ## Default:
  # config.token_lifetime = 1.day

[2015-10-27 12:29] #13 closed

[2015-10-27 14:44] campbecf opened #14 "Typo in generators"
lib/generators/templates/knock.rb:51

Believe you mean identify but wrote indentify

[2015-10-28 00:41] nsarno commented on #14
Fixed (0e30e17). Thanks!

[2015-10-28 00:41] #14 closed

[2015-10-31 19:03] ricsdeol opened #15 "[Question] How can I force 'loggout' a user from server-side?"

[2015-11-01 00:23] nsarno commented on #15
**The bad news:** there isn't a way to do this out of the box with JWT.

This is due to the fact that token based authentication is [sateless](https://en.wikipedia.org/wiki/Representational_state_transfer#Stateless). Which means we don't manage state (e.g. "is the user logged in") server-side, unlike a session does for example.

The benefits in term of simplicity and scalability of having a statel

[2015-11-01 00:23] #15 closed

[2015-11-01 18:21] ricsdeol commented on #15
@nsarno  your was clear thanks!!!

About a way of implementing this.
The lookup where it could be save?
What do you think of saving the token in the database?

[2015-11-01 22:14] nsarno commented on #15
I would store the lookup id as another column in the user table.

This is not a good idea. It means an additional database query for every request. It also greatly reduce the benefits of not having to manage sessions. One of the biggest pros of using tokens is that you can tell if they are valid or not without storing them on the server.

[2015-11-19 22:33] gsdean opened #17 "URL authentication"
Would be nice be able to pass the token via query string. Something like

[code]

Interested?

[2015-11-20 00:43] nsarno commented on #17
Using the request header is a best practice and passing the token through the query string is less secure. For that reason I think keeping Knock opinionated by default is a good thing.

On the other hand, I understand that you might need to use another way to pass the token. I'll consider adding a way to customize this behaviour.

Please let me know what your use case is for this, I'm interested.

[2015-11-20 02:44] gsdean commented on #17
The current use case is during development. Especially for an API, it's a lot easier to debug when you can authenticate via the URL. There are other use cases for JWT in the query string. Password reset links, invitation, etc.

In fact the standard even mentions it
`JSON Web Token (JWT) is a compact claims representation format intended for space constrained environments such as HTTP Authorization

[2015-11-20 03:01] nsarno commented on #17
Makes sense. Feel free to create a PR! With updated tests would be a must :)

[2015-11-25 17:10] CharlesJQuarra opened #18 "Overlap with Warden"
Hi,

I've noticed that this gem does not have warden as a dependency. I presume this is intentional? Is this gem reimplementing part of warden functionality?

I'm wondering what would it take to integrate knock as an authentication strategy into warden

[2015-11-25 23:42] nsarno commented on #18
The JWT standard is really straightforward to implement and doesn't require a dependency such as warden.

I'm sure there already are JWT strategies for Warden but Knock does not aim to become this. Being simple to understand is one of Knock (and JWT) best feature in my opinion.

[2015-11-25 23:42] #18 closed

[2015-12-01 10:01] rixlabs opened #22 "Syntax error during 'rails generate knock:install'"
Hi,

executing :rails generate knock:install on my dev environment (Jruby 1.7.10 on Windows 7)

I got:
[code]

I'm opening a pull request for removing the spaces that cause problem.
Let me know if is useful.

[2015-12-02 11:11] nsarno commented on #22
I'd suggest updating to a version of JRuby (9.x) compatible with ruby 2.x

Apparently there's a syntax issue with lambda in older version of Ruby. Suppressing the parenthesis might be a better option for readability than removing the space.

[This article](http://ruby-journal.com/becareful-with-space-in-lambda-hash-rocket-syntax-between-ruby-1-dot-9-and-2-dot-0/) describes the issue.

[2015-12-02 12:34] rixlabs commented on #22
I'am using 1.7.0 in ruby 2.0 mode: compat.version=2.0

Just made a test with 9000 and it's working.
Probably an old bug.
Unfortunately I must use 1.7.x cause of warbler

I make some tests with the paranthesis and let you know

btw. is better to specify min ruby version in the readme/doc

Thanks
Riccardo

[2015-12-02 12:39] rixlabs commented on #22
Tested without parenthesis and it works.

Pull request already updated.

Up to you, let me know if you need some help also with the doc

[2015-12-02 12:40] nsarno commented on #22
Compatibility issues should be fixed on a best effort as they are reported. If they can't be fixed, we'll update the documentation.

This one is pretty easy to fix so I see no reason not too. Those lambda will most likely go away in the v2 anyway :)

Thanks for the feedback

[2015-12-02 12:40] #22 closed

[2015-12-27 02:21] #12 closed

[2015-12-27 03:09] #17 closed

[2015-12-30 18:41] stephanngamedev opened #29 "Bundler could not find compatible versions for gem "rails""
[code]

Any news about Rails 5 support?

[2015-12-30 23:17] sespindola commented on #29
I just submitted PR #30 as a first step for Rails 5 support

[2016-01-01 00:19] nsarno commented on #29
#30 should fix this indeed. Thanks @sespindola.

[2016-01-02 03:32] #29 closed

[2016-01-06 16:59] duboff opened #32 "Readme inconsistent with 1.4.0?"
I updated to 1.4.0 and everything stopped working. I assume there are some changes I need to make but on the readme the setup is exactly the same. Any chance for explaining what has changed?

[2016-01-06 18:25] jkamzi commented on #32
If you upgraded from 1.3 then you should note the following changes:

___1.3___
```POST /knock/auth_token { email: 'foo@example.net', password: 'bar' }```
___1.4___
```1.4 POST /knock/auth_token {"auth": {"email": "foo@bar.com", "password": "secret"}}```

Note how 1.4 wrap the credentials in "auth"

[2016-01-07 13:10] duboff commented on #32
I am actually using knock with Auth0, so don't hit the endpoint manually. I use Knock::Authenticable as per the readme.

Where I think the regression comes in is the recommended audience verification in the initializer is no longer compatible with the rest of the code: https://github.com/nsarno/knock/blob/master/lib/generators/templates/knock.rb#L58

Basically, the generated initializer suggests u

[2016-01-07 17:22] duboff commented on #32
Added a PR in #33

[2016-01-08 12:39] nsarno commented on #32
1.4.1 should fix this. Thanks @duboff :+1:

[2016-01-08 12:39] #32 closed

[2016-01-13 21:43] ryanfelton commented on #4
@gottfrois Did you have a final solution for this? I'm trying to implement Auth0 + Knock as well.

Did you end up going with:
`User.find_or_create_by(auth_id: claims['sub'])`

I've noticed that coming back from Auth0, my `claims` has actually has `auth0|` prepended to the `user_id`
Example:
`{"iss"=>"https://domain.auth0.com/", "sub"=>"auth0|1", "aud"=>"...", "exp"=> 9999, "iat"=> 999}`

How are y

[2016-01-18 09:42] gottfrois commented on #4
This is what I have:

[code]

Yeah, simply storing the `claims['sub']` value into an attribute called `auth_id` in my case.

[2016-01-20 23:04] ryanfelton commented on #4
@gottfrois Thank you!!

[2016-01-24 02:20] feliksg opened #35 "[Question] How do I authenticate an Auth0 user in my request specs?"
I'm trying to write some request specs for my API but the following code results in a 401 status:

[code]

[code]

Any idea on how to resolve this? By the way, i'm using the v2 branch with my updates found [here](https://github.com/feliksg/knock/tree/migrate-fixes-from-master)

[2016-01-24 04:35] nsarno commented on #35
This is the way I describe in the Readme:

[code]

Let me know if it works for you. Thank you for trying the v2 :+1:

[2016-01-24 21:15] nsarno commented on #35
I assume I can close this. Feel free to reopen if you have any more trouble with this.

[2016-01-24 21:15] #35 closed

[2016-01-28 09:00] yawn opened #36 "Document change in header-passed token representation in CHANGELOG"
Commit 18b2cfb102a0f0514685ac4dce5a7d27f6fd23c2 now *requires* prefixing a header-passed token with a `Bearer ` string. The previous release supported both forms, with and without the prefix. This breaks compatibility with all users who did *not* use prefixed tokens.

Please document this change in the `CHANGELOG` and / or consider changing the regular expression to accommodate the old behaviour.

[2016-01-28 14:07] nsarno commented on #36
Thank you for reporting this. Introducing a breaking change is not something that should have happened and I should have payed more attention to the consequences of this change at the time. I don't think being so strict on the parsing of the prefix makes sense either.

I'm leaning towards reverting to the previous solution using `split.last`, although I'm open to suggestions on how this header sho

[2016-01-28 16:31] yawn commented on #36
#37 is a good solution. If you want to capture the intent better than using a simple call to `split`, you might want to use

* the terminology outlined in [RFC 7235](https://tools.ietf.org/html/rfc7235#section-4.2) which defines `Basic`, `Bearer` etc. as "auth-scheme"
* the value of the "auth-scheme" is a "token" from [RFC 7230](https://tools.ietf.org/html/rfc7230#section-3.2.6)

Loosely applied t

[2016-01-28 20:17] atbyrd opened #38 "Unauthorized response in specs"
When testing the response is always `unauthorized` with response.body equaling `f`.

### deliveries_controller_spec.rb

    require 'rails_helper'

    module V1
      RSpec.describe DeliveriesController, type: :controller do
        let(:auth_token) { authenticate }
        context 'index' do
          before do
            @deliveries = [DateTime.now, (DateTime.now - 1), DateTime.now, (DateTime.

[2016-01-28 22:52] nsarno commented on #36
I agree we should aim towards a solution based on the RFC. I will still go with #37 for the moment as the goal is primarily to fix the breaking change.

Really appreciate the help, thank you :+1:

[2016-01-28 23:17] #36 closed

[2016-01-28 23:57] nsarno commented on #38
It seems like you are assuming the `authenticate` method returns a token, which it doesn't.

What it actually does is set the Authorization header with a valid token. So you only need to call it prior to making the request.

e.g.

[code]

Let me know if this solves your problem.

[2016-01-28 23:57] #38 closed

[2016-01-29 10:06] yawn commented on #36
You are welcome.

[2016-02-29 12:42] subuta opened #43 "initializer broken by ruby-jwt api changes"
I found [config.token_secret_signature_key](https://github.com/nsarno/knock/blob/11162c1549eabfdf1552b4d1c7dde993161ef9ff/lib/generators/templates/knock.rb#L77) was broken by ruby-jwt API updates ...
[code]

Latest ruby-jwt(v1.5.3) completely removes `base64url_decode ` method from JWT module(at this [PR](https://github.com/jwt/ruby-jwt/commit/7a7ac9a339f0a2967c6d9bcea7f6ccaa3661cf7e))

BTW, We ma

[2016-03-03 02:59] solsberg commented on #43
Thanks for the workaround, works for me also

[2016-03-04 22:08] maxcal opened #44 "Why 404 not found for invalid credentials?"
When posting to `/knock/auth_token` with bad credentials it returns 404. Which is somewhat unexpected. 401 Not Authorized seems more appropriate. Comments?

[2016-03-04 23:10] nsarno commented on #44
This is a security best practice to avoid confirming the existence of a user when bad credentials are provided. The 404 in this case means we did not find a user matching the given credentials.

[2016-03-04 23:14] maxcal commented on #44
Makes sense. Cheers

[2016-03-04 23:14] #44 closed

[2016-03-04 23:22] nsarno commented on #43
There's an issue open in `ruby-jwt` (https://github.com/jwt/ruby-jwt/issues/133) because of `1.5.3` breaking compatibility with `1.5.2`. The breaking version is going to be yanked and re-released as `1.6.0` so it should be all good after that.

I'll let this issue open for people to see the workaround in the meantime. Thanks for your help @subuta !

[2016-03-13 13:01] suezzo opened #45 "undefined method `length' for nil:NilClass while running specs"
Hello,
I try to authenticate user in my tests. So far my spec looks like:

[code]

My User model has `auth_id` column which stores auth0 user id. My code method is below.

[code]

Every time I run spec I receive error about undefined method `length`.

[code]

I will really appreciate it if someone can suggest me what's wrong with my code.

Thanks!

[2016-03-15 20:02] suezzo commented on #45
I've found that this line is causing the error

`secret += '=' * (4 - secret.length.modulo(4))`

I'm not sure why, because my `config.token_secret_signature_key` looks like

[code]

Also I'm able to retrieve `auth0_client_secret` from console, the same is with generating new AuthToken.

[2016-03-15 20:03] maluramichael opened #46 "A [GET] on /users respond with 'NameError (uninitialized constant Knock)'"
I use rails 5.0.0.beta3 and rbenv and used this [guide](https://auth0.com/docs/server-apis/rails)
With rbenv i created a new rails api project ```rbenv exec rails _5.0.0.beta3_ new levented --api```
After that i scaffold my user ```bin/rails g scaffold user name:string family_name:string nick_name:string email:string```

routes.rb
[code]

application_controller.rb
[code]

users_controller.rb
[code

[2016-03-15 21:52] nsarno commented on #46
I haven't tested knock with rails 5 yet so I'm not sure. I'll let you know when I do.

[2016-03-15 21:59] nsarno commented on #45
It seems like `Rails.application.secrets.auth0_client_secret` is not defined when you create the lambda. I'm just guessing as I don't have the entire code under my eyes.

[2016-03-26 14:18] iLikeKoffee opened #47 "Knock::AuthTokenController extending"
Hello. In some cases AuthTokenController may need custom behaviour, but all the methods inside except `create` action are `private`. What about making them `protected`? This will allow users add some custom logic. For example, adding expiration date or user identifier to response and etc

[2016-03-26 14:27] iLikeKoffee commented on #47
Added PR #48 for this issue.

[2016-03-27 01:24] johnrees opened #49 "permanent tokens?"
Is there a recommended method for generating permanent tokens?

I ask because I'm making both a mobile app and the Rails API it will use, and I only want the user to login once, after they install the app.

I noticed the default expiration period is `config.token_lifetime = 1.day` with no obvious way to set this to infinity/nil. And after a cursory search I didn't see any mention of refresh tokens

[2016-03-27 17:02] ZiaMM opened #50 "Support for Rails 4.0.x ?"
When I run bundle update I get:
In Gemfile:
    rails (= 4.0.13)
    knock was resolved to 1.0.0, which depends on
      rails (~> 4.2)
I tried to force a lower version of knock, but this was "not found."

Going to the next version of Rails has many code-breaking changes within this app.
Is there a way to run knock on Rails 4.0.x ?

[2016-04-08 00:46] nsarno commented on #43
https://github.com/jwt/ruby-jwt/issues/133

[2016-04-08 00:46] #43 closed

[2016-04-08 00:46] #45 closed

[2016-04-08 01:02] nsarno commented on #47
It should definitely be possible to achieve this by modifying the controller rather than relying on configuration. I'll have a look at merging your PR or coming with another solution whenever I can.

Thanks a lot for contributing and apologies for the late reply! :+1:

[2016-04-08 01:12] nsarno commented on #49
The expiration claim is optional (https://tools.ietf.org/html/rfc7519#section-4.1.4). So not specifying it is the way to go.

Which makes me realize that we're forcing its use in knock by always specifying the claim. I'll make sure this get fixed.

Thank you for bringing this up :+1:

[2016-04-08 01:14] nsarno commented on #50
I don't think there is a good reason for knock not being compatible with rails >= 4.0. I'll have a look into this whenever possible.

Thanks for the feedback and sorry about the late reply :+1:

[2016-04-08 09:11] iLikeKoffee commented on #47
@nsarno No problem! Now, I achieve this customization by the entire Knock::AuthController to my project. It looks like this:

[code]
It works, but It's not the most beautiful solution.
Instead, i want It look like this:
[code]

Thanks in advance!

[2016-04-08 10:42] ZiaMM commented on #50
I wrote my own solution using only the 'jwt' gem.  But in my experiments, there was an issue finding some of the controller and other methods provided by the Gem's code - copying these into the app solved that.  Also, one needs to install the 'rails-secrets' gem (needed for jwt).

[2016-04-08 10:42] #50 closed

[2016-04-13 18:00] SORRROW opened #52 "Adding custom message when RecordNotFound exceptions occurs"
Hey, I see you specify for us to raise an ActiveRecord::RecordNotFound for the authentication process but I am having trouble doing so as I do not know where to do it since the controller for generating tokens based on user credentials is the one you provide with your gem.

What I would like to do is send back with the status a response with a custom message like "Wrong Credentials" for example wh

[2016-04-14 12:36] toby-1-kenobi opened #53 "`current_user` name collision"
Using Knock I added token-based authentication to a rails app that already had session-based authentication. There was already a `current_user` method that was included in ApplicationController which looked in the session for the logged in user. This method prevented Knock authentication working because Knock checks if it can get a result from `current_user` to see if the user is authenticated, bu

[2016-04-14 23:45] nsarno commented on #52
I'm not sure I understand exactly what you are saying by "you specify for us to raise an ActiveRecord::RecordNotFound for the authentication process".

Do you mean inside `config.current_user_from_handle` or `config.current_user_from_token`?

[2016-04-15 00:58] nsarno commented on #53
I believe the readme is pretty clear about adding a `current_user` method to your controller, if you include the `Knock::Authenticable` module. I you feel differently, feel free to create a PR to suggest improvements.

You can't prevent method name collision with namespaces when including modules. If you think of a good solution to this, PR are always welcome.

As a possible solution, I would sugg

[2016-04-15 04:39] toby-1-kenobi commented on #53
I had a closer look and can see now that namespaces can't be of any help here.

The reason I have multiple authentication systems in one controller is because I have already set up session-based authentication for users interacting with the app through their browsers, now I'm making an offline version as an android app that duplicates some of the interface functionality, then authenticates with th

[2016-04-15 04:39] #53 closed

[2016-04-15 05:00] nsarno commented on #53
Thanks for the feedback and the PR 👍

I definitely see why you would need both authentication system in your app, although I would still recommend that you use them in different controllers by creating a specific API endpoint for example.

[2016-04-15 14:13] SORRROW commented on #52
Well for both actually, I'd like to be able to send a message along the request when the token is wrong or the user credentials are incorrect.

[2016-04-16 08:27] nsarno commented on #52
Makes sense. I'll try to provide a solution for this.

[2016-04-16 10:25] SORRROW commented on #52
Okay thanks, looking forward to it.

[2016-04-16 14:41] maxcal opened #55 "Verifying that authenticate is called."
It would be nice if there was built in support for verifying that authentication is enforced to lock down an application much like `verify_authorized` in Pundit.

Comments? Is this something you would like to see in a PR?

I'm thinking of something like:

[code]

Usage:

[code]

[2016-04-18 05:32] pietschy opened #56 "Adding private claims to the token"
Hi there, just wondering if you thoughts on adding additional claims to the token payload. I'd like to add some additional user information to it but it looks like I'd have to subclass the AuthTokenController (which will be easier once #47 is fixed).

Thanks and cheers

[2016-04-18 06:05] nsarno commented on #56
Definitively on my list of things to improve in priority 👍 Hoping to tackle this in a near future.

[2016-04-21 11:14] pietschy commented on #56
Cool, thanks @nsarno.

[2016-04-22 17:35] belguzman opened #57 "Does it support Mongoid ?"

[2016-04-22 23:11] nsarno commented on #55
I'm not sure I understand the benefit of this in the context of authentication. Why isn't the call to `before_action :authenticate` at the start of a controller explicit enough? I feel like this is something you should test, not double check everytime at runtime. Let me know if I'm missing something.

[2016-04-22 23:23] nsarno commented on #57
I don't think there's anything that would prevent you from using `Mongoid`.

Although you might need to configure the following differently in the initializer:

[code]

At the moment, it's also a requirement for these lambdas to raise an `ActiveRecord::RecordNotFound` exception when the user can't be found. Admittedly this shouldn't be the case and I plan to remove this.

If you end up using knock

[2016-04-23 23:22] belguzman commented on #57
Will do, thanks @nsarno

[2016-04-23 23:22] #57 closed

[2016-04-27 12:04] gustavovnicius commented on #52
Wouldn't be a lovely design if the authenticate raises an Knock related exception then if you need to have some custom method you catch it on your ApplicationController (or any controller like that) with [rescue_from](http://api.rubyonrails.org/classes/ActiveSupport/Rescuable/ClassMethods.html#method-i-rescue_from)?

[2016-05-02 12:02] pixelblend opened #60 "Authentication for a scoped user?"
I would like to use Knock for an API that allows the reuse of an email address against multiple different accounts. Just like Slack, the account would be determined by the subdomain that the user logs in from.

Is it possible to scope the `current_user` to be found via an associated `Account` object?

e.g. `Users.where(account_id: $account_id).find_by! Knock.handle_attr => handle`

[2016-05-03 00:06] nsarno commented on #60
I don't think it's possible at the moment, at least not in a nice way. Making this possible might be as easy as passing the request through to the current_user retrieval lambda. I'll think about a good way to implement this.

This is an interesting use case, thanks for the feedback 👍

[2016-05-06 01:44] #55 closed

[2016-05-06 02:09] nsarno commented on #46
I tested Knock (master) with Rails 5 beta4. It seems to work fine without any modifications :)

Closing this for now, but feel free to reopen if you still have an issue with the latest beta. If you do, please provide a failing test as well.

Thank you 👍

[2016-05-06 02:09] #46 closed

[2016-05-08 16:42] NullVoxPopuli opened #65 "Does this support automatic refresh tokens?"
I'm new to JWT, but it looks better than just using the same API token forever.

I know the token expires after a day (by default), but does that mean the user will have to re-login again?
 - this could lead to some un-desired behavior if someone's token is about to expire when they are in the middle of work.

How does auth work between multiple devices? (esp in the case of a refresh token)

[2016-05-08 23:55] nsarno commented on #65
No, Knock does not support refresh tokens out of the box. I never felt the need for it and I believe that adding long-lived refresh tokens would add extra security concerns and diminish the simplicity inherent to using JWT.

Yes, the user will have to login again after a token expires.

I understand the reason why you would want to implement something like a refresh token. Although I think there's

[2016-05-09 00:16] NullVoxPopuli commented on #65
Yeah, so thanks for all of this! this is all wonderful information!

I never considered that implementation of sliding sessions, and I think that would be the ideal way to do things.
For sliding sessions, does the server then have to keep track of the session (making auth no longer stateless?), or is that something auth0 could provide?

Right now, for my app, I'm managing tokens myself, and have b

[2016-05-09 00:44] nsarno commented on #65
No, this would still be entirely stateless. No need to keep the token server-side.

- The server adds a token field to every response.

e.g.
[code]

- The client needs to replace the token after every authenticated request by the one from the response.

If the tokens are generated with a 24h expiration, then the user  will only need to re-enter his password after being inactive for a day.

I belie

[2016-05-09 00:44] #65 closed

[2016-05-09 18:25] pixelblend commented on #60
That would be amazing, thanks for considering it.

[2016-05-10 04:44] jaredcwhite opened #66 "Multi-tenant solution"
I'm looking at providing an API that will have multiple token_audience/token_secret_signature_key values depending on the particular account that a user is associated with. Right now, it looks like the only way I could deal with this scenario is to set those config values manually for each request. However, I'm concerned that if I'm changing things at a global module level, I might run into an iss

[2016-05-11 11:30] mihaibb opened #67 "Rails cannot recognise the engine version"
Versions of rails and rails-api:
[code]

Specs written with rspec get in some kind of conflict and throws the error that it cannot find the version of the engine version.
The path provided in the error is the same as the version file but somehow it cannot be loaded.

[2016-05-11 22:31] gustavovnicius commented on #66
@jaredcwhite, in your app each tenant has its own domain?

[2016-05-12 00:14] jaredcwhite commented on #66
each account would have its own subdomain / domain, yes

[2016-05-12 00:14] jaredcwhite commented on #66
but it would all be served from a single API

[2016-05-12 02:07] gustavovnicius commented on #66
Why the need to have a custom audience and signature in this case? I mean, are you intending to share the same JWT between the subdomains? How? The way I see it, similarly to slack, your app's users should explicitly login on every domain that they wants to be logged in, by doing that, the JWT's wouldn't be shared between accounts / "sessions". I got it right?

[2016-05-12 04:27] jaredcwhite commented on #66
I'm thinking of going with a different solution now so this may be moot. I had been thinking of using multiple Auth0 app accounts (one for each customer) as a prerequisite for using my API, but now I'm looking at rolling my own auth strategy. I still think this is a feature worth considering though.

[2016-05-13 01:53] toby-1-kenobi opened #68 "uninitialized constant Knock"
I changed my development machine. The same code that works fine on the old machine, now on the new machine gives this error:

from this line in `routes.rb`
`mount Knock::Engine => '/knock'`

When I comment out that line I get

from this line in `application_controller.rb`
`include Knock::Authenticable`

The only difference I can think of from old machine to new is that this time I used rbenv inste

[2016-05-13 02:20] toby-1-kenobi commented on #68
I just tried dropping back to Ruby 2.2.3 on the new machine, and reinstalling all the gems with bundler, but still the same problem.

[2016-05-13 03:34] toby-1-kenobi commented on #68
Sorry, it was a matter of restarting the server. I always forget to try that!

[2016-05-13 03:34] #68 closed

[2016-05-17 20:51] AmrN opened #69 "Add an action to check if token is valid"
I think  it would be nice to have an additional action alongside `AuthToken#create` (maybe `AuthToken#validate`) that simply returns success if the provided token is valid.

It can be useful when the client just wants to check if the token is valid and hasn't expired without having to decode it.

[2016-05-18 03:25] JoshuaNovak919 opened #70 "Devise Integration Example"
Anyone try integrating this with `Devise` yet? I want `Devise` for it's user and password management, but need `JWT` since I have an API.

[2016-05-19 06:01] nsarno commented on #70
Knock does not aim to be compatible with Devise and I would not recommend mixing both.

[2016-05-19 06:01] #70 closed

[2016-05-19 12:49] balakarthik2011 opened #71 "Revoking a token"
I need to know how to handle the logout operation, because the token will be valid up to the time mentioned in the expiry claim, but if a user log out from the application before the expiry time, the token should become invalid.
I was searching the way to revoke a jwt, i found some of the solutions [here](http://stackoverflow.com/questions/28759590/best-practices-to-invalidate-jwt-while-changing-p

[2016-05-19 14:15] nsarno commented on #71
In a common scenario, the user simply deletes the token on the client, no request to the server is required.

A few things to keep in mind:
- Each token should have a relatively short expiration time to limit impact of compromised tokens.
- The credentials must be requested every time for critical operations. e.g. changing the password (this is valid for any kind of authentication)

The only case

[2016-05-19 14:15] #71 closed

[2016-05-22 01:05] nsarno commented on #49
This is now available on master since #63 was merged. It will be in the next release.

Thank you for your patience!

[2016-05-22 01:05] #49 closed

[2016-05-22 02:36] nsarno commented on #47
Closing this. Cf #48 and #72.

[2016-05-22 02:36] #47 closed

[2016-05-22 02:38] nsarno commented on #67
Could you provide the exact error message as well as a way to reproduce it. Thanks!

[2016-05-22 02:47] nsarno commented on #69
Calling any authenticated endpoint will provide the same result with one less HTTP request if the token isn't expired. If you want a special endpoint for this, you can implement it inside your app but I don't think it needs to be part of this gem.

Thanks for the feedback and feel free to let me know if you think I'm missing something 👍

[2016-05-22 02:47] #69 closed

[2016-05-22 04:20] nsarno commented on #60
This will be fixed once #72 is merged. The entire request is passed down from the controller to `User.find_for_token_creation`.

[2016-05-22 04:40] nsarno commented on #56
This will be possible once #72 is merged. The payload is now created via serialization of the entity model (E.g. `User`) by implementing `to_token_payload`.

[2016-05-22 05:04] nsarno commented on #66
I think I want to specify token claims like audience and expiration at the user model level. You might want a different expiration time for users and admins for example. Generally, I'm trying to make sure the payload can be anything you want even though it's not entirely the case yet. So it will be addressed at some point. I'm not sure I understand the need of having a different token signature th

[2016-05-22 09:40] chewedon opened #73 "Authorization header works with any random JWT prefix"
Awesome gem.

I followed Adam's JWT tutorial in the past: http://adamalbrecht.com/2015/07/20/authentication-using-json-web-tokens-using-rails-and-react/ which builds a JWT from scratch without using gems.

Today, I tried this library, works like a gem (pun intended).

I have one issue though, hopefully it hasn't been asked before.

When I use cURL or Postman to make the request:

![screen shot 201

[2016-05-22 10:18] chewedon commented on #73
Okay, after reading the official JWT page: https://jwt.io/introduction/

They themselves use `Authorization: Bearer <jwt>`. So I am wrong in the part where I said it should be `Authorization: JWT <jwt>`.

I had always though the prefix before the JWT was required...or at least important...I'm beginning to question the purpose of the prefix.

[2016-05-22 12:44] nsarno commented on #73
I confirm the prefix is entirely ignored in the current implementation.

Here's the code parsing the header: `request.headers['Authorization'].split.last`.

Although I do understand how the prefix could be used, I've never been in a situation myself where I cared about it so much. The "Bearer" prefix is a generally accepted default value, not something really meaningful I believe.

I'm closing thi

[2016-05-22 12:44] #73 closed

[2016-05-23 00:44] totothink opened #75 "I hope knock will support grape"
I use grape. I hope knock will support grape.

[2016-05-23 09:13] nsarno commented on #75
There's an existing port of knock for grape: [grape-knock](https://github.com/gottfrois/grape-knock).
Although I don't think it's up to date with the latest version of knock.

[2016-05-23 09:13] #75 closed

[2016-05-24 06:56] toby-1-kenobi opened #76 "404 response when credentials are bad"
When a client tries to authenticate with bad credentials the server response is 404. The client then wont know if the credentials are bad or the sever is offline. Perhaps a 401 or 403 response would be better.

[2016-05-24 06:58] toby-1-kenobi commented on #76
Perhaps it should be configurable in Knock.setup

[2016-05-24 23:55] nsarno commented on #76
https://github.com/nsarno/knock/issues/44

There's always a bit of debate going on between which of 401, 403 or 404 is more appropriate. Although they're all perfectly valid options, knock is using 404 for the reason given above.

Also if the server is down / offline, I do not believe the answer would be or should be 404. As for being configurable, I'm not against it but I don't think it's absolut

[2016-05-24 23:55] #76 closed

[2016-05-25 23:28] pjkelly opened #77 "Support for Rails 5 RCs"
Any recommendation on using Knock with the Rails 5 release candidates?  Right now, the dependency is based on official releases (per PR #30).  In the meantime, I've forked this repo and adjusted the dependency accordingly but wanted to know if you're planning an official release of Knock that supports the release candidates or not.

[2016-05-25 23:32] pjkelly commented on #77
I should also add that if you're interested in a pull request, I'm happy to submit one.

[2016-05-29 17:21] pixelblend commented on #60
I've been able to implement the changes to the authentication, exactly as I'd described.

This is fantastic, thanks for all your hard work!

[2016-05-29 17:21] #60 closed

[2016-05-29 23:04] #56 closed

[2016-05-29 23:11] nsarno commented on #77
The dependency is `>= 4.2` so you should be able to use it with Rails 5 without changing anything. Do you get an error when trying to do this?

[2016-05-30 00:24] pjkelly commented on #77
Yeah, in order to accept prerelease gems, apparently you need to have a prerelease as your minimum dependency as well, e.g. `>= 4.2.0.rc3`.  Since Rails 5 _should be_ out of release candidate soon, it might not be worth pushing a release just for this - just thought I'd bring it to your attention though.

http://guides.rubygems.org/patterns/#prerelease-gems

[2016-05-30 01:17] nsarno commented on #77
Right, I imagine I had to do the same when I tried with the beta. Like you said, not worth a release though.

If you want you can submit a PR, it won't be merged but it can be useful as reference for other people trying to do the same.

Thanks for the feedback!

[2016-05-30 01:17] #77 closed

[2016-05-30 01:19] nsarno commented on #67
Feel free to reopen with more details if you still have an issue.

[2016-05-30 01:19] #67 closed

[2016-06-03 07:14] ekampp opened #79 "Namespacing models"
Hi there.

I'm trying to implement  Knock in a Rails 5 API, where I have everything namespaced (e.g. V1::User, V1::UsersController, etc..).

When mounting the knock authentication endpoint inside the namespace, like this, it works fine for exchanging username and password for a JWT:

[code]

It doesn't work to go to the rooms endpoint afterwords, using the new JWT token. I get this exception: `Nam

[2016-06-04 00:38] nsarno commented on #79
Thanks for the detailed feedback. Namespace are not handled by Knock but it should.

The only way to deal with this at the moment would be to do something like:

[code]

I'm open to suggestion on what would be a better way to handle this.

[2016-06-06 09:08] ekampp commented on #79
Good question.

Perhaps defining it somehow, like so:

[code]

Or somehow using the `classify` inflection instead of the `camelize`, [here](https://github.com/nsarno/knock/blob/master/lib/knock/authenticable.rb#L35). But this approach requires the string to be `v1/user` instead of `v1_user` at this stage.

[2016-06-12 15:50] sonic182 opened #81 "generator knock:token_controller doesn't exist"
Why this is on the readme and It doesn't exist in code?

rails generate knock:token_controller user

my terminal says that could not find generator... (Of course, knock installed)

[2016-06-12 17:16] #81 closed

[2016-06-12 17:16] sonic182 commented on #81
Sorry, I was using previously version of the gem

[2016-06-16 19:18] SpencerCDixon commented on #4
So what about getting the meta data about users saved in your Users table?  I ideally want to save the user email, name, etc.  Would one approach be to make another request to Auth0 API with the user ID to get that meta data before doing the find_or_create_by?

[2016-06-20 13:10] andyrue opened #85 "Using Knock for SSO with multiple servers"
I'm still wrapping my mind around how JWTs work and hoping for some guidance on how I might use Knock to help me in my situation.

I have an Authentication Server (Rails), a Client (Angular2), and a Data API (Rails). From the client I need to be able to authenticate with the auth server which would then give me permission to access the data api. I'm a little confused how to use the received JWT fr

[2016-06-20 14:56] nsarno commented on #85
Yes. If you want to be able to decode a token generated by your auth server, you need to share a secret signature key.

This is the default configuration with Knock (see the [initializer](https://github.com/nsarno/knock/blob/master/lib/generators/templates/knock.rb)), you can change it to be anything you want.

[code]
<br>

Knock is conceived to act as both the API and the Auth Server. But you can

[2016-06-21 12:04] andyrue commented on #85
Do you still need a User model that responds to `authenticate` on the API Backend or is that only if you don't use an external authentication source? I wasn't planning on having a User database on the backend, only passing group information in the JWT to determine specific access.

[2016-06-21 13:35] nsarno commented on #85
No it's not needed! You also don't need to run the `token_controller` generator.

[2016-06-21 13:37] andyrue commented on #85
Great, thanks for your help!

[2016-06-21 13:37] #85 closed

[2016-06-23 07:10] sachse commented on #79
Is it possible to infer the namespace from the route name, perhaps?

[2016-06-23 07:46] nsarno commented on #79
@sachse Interesting suggestion! I'll give it a try.

Agreed on keeping configuration minimal.

[2016-06-23 08:01] nsarno commented on #79
After thinking about it, I don't see how that would be possible. The route has no relation with the user model you want to authenticate with.

[2016-06-23 10:58] sachse commented on #79
Not necessarily, that's true. I'm only speaking for myself here, but I would assume that knock would look for the model in the same namespace the route is in.

For what it's worth I think that the current method of using `authenticate_for` works rather well as it is.

[2016-06-23 13:09] ekampp commented on #79
In the case of a heavy namespace separated application the convention is to use a base controller and model and such per namespace. This means that configuring knock would only happen in that one, central location.

[2016-06-24 22:39] jalberto opened #86 "404 on login response format"
by defualt knock returns 'json' in response format heade. I would like to return "application/vnd.api+json

I tried to costumiz eit with an after_action:

    response.content_type = "application/vnd.api+json"

but it doesn't work.

I creaed y own contrller for this, but will be great to add it as an option.

Thanks!

[2016-06-30 04:37] AndrewLngdn opened #87 "question: is there a generator that pulls the the *_token controller into the project?"
If not, I'd like to add that functionality. I love how lightweight gem is, but it would be easier to deal with if I could just pull chunks of it into my project. I'll make a PR if this doesn't exist

[2016-06-30 13:07] nsarno commented on #86
You can add a before action in your token controller:

E.g.

[code]

[2016-06-30 13:07] #86 closed

[2016-06-30 13:11] nsarno commented on #87
There is a generator for the token controller

From the [README](https://github.com/nsarno/knock#installation):

[code]

Is this what you were looking for?

[2016-06-30 13:20] nsarno commented on #79
@ekampp You can also define a method calling `authenticate_for` inside the base controller and use it in the before filter like in my first example. I agree with @sachse that it seems like a good enough solution.

I'm still happy to hear other suggestions on how to handle this but in the mean time I'll add this to the README and close this issue.

[2016-06-30 13:20] #79 closed

[2016-06-30 14:18] nsarno commented on #52
I believe this is solved by https://github.com/nsarno/knock/pull/80

[2016-06-30 14:18] #52 closed

[2016-06-30 14:18] #87 closed

[2016-07-01 08:06] sachse opened #88 "Update documentation for testing with Rails 5"
Rails 5 has now been released and ActionController::TestCase is deprecated so the documentation on testing is outdated. As far as I can tell the `request.env` object is no longer accessible. Instead, what I've been doing is something like this:

test_helper.rb
[code]

controller_test.rb
[code]

Maybe there's a better way to do this? Once a format has been decided on I can make a pull request, if y

[2016-07-01 17:40] AndrewLngdn commented on #87
I meant a generator that actually pulls the relevant code into your project if you want to authenticate other routes for the same type of entity. I'll figure it out. Thanks!

[2016-07-09 00:55] budi commented on #88
👍 for this, and also got depreciation warning from Knock itself using the above method:

`[DEPRECATION]: Knock.current_user_from_token is deprecated. Please implement User.from_token_payload instead.`

[2016-07-13 14:31] nsarno commented on #88
@sachse Thanks! PR is always welcome 👍

The main goal of this part of the README is to show how to create the token and pass it through the header. So let's keep it as simple as possible.

Also as you said, replacing `ActionController::TestCase` with `ActionDispatch::IntegrationTest`.

[2016-07-13 14:38] nsarno commented on #88
@budi This warning is not unrelated. It tells you that you rely on `Knock.current_user_from_token` which is deprecated.

[2016-07-13 20:24] budi commented on #88
@nsarno yeah, I figured.. but that's what I got from following the readme upon testing by invoking

    token = Knock::AuthToken.new(payload: { sub: users(:one).id }).token

[2016-07-15 19:41] sachse commented on #88
Actually I get the same error in my tests, even though I don't call `Knock.current_user_from_token` manually.

[2016-07-20 12:46] brandonmanson commented on #4
@SpencerCDixon not sure if you've already found the answer to your question but if not, you can specify a scope when authenticating your user on Auth0. The fields you specify in your scope (i.e. `email`, `nickname`, etc) will be contained in your token. Here's Auth0's [official documentation](https://auth0.com/docs/scopes). Hope this helps!

[2016-07-20 14:05] SpencerCDixon commented on #4
Awesome thanks @brandonmanson I will prob refactor my approach when I find the time to just do that.  👍  appreciate it

[2016-07-20 21:50] brandonmanson opened #90 "Passing token from iOS app returns 401"
After several days of debugging and even nuking my repo and starting over, I still can't seem to get any authorization with a JWT token I'm passing from an iOS app authenticated with Auth0 Lock. After updating to Knock 1.5, I've narrowed it down to `self.from_token_payload` not creating a new user. Any assistance would be greatly appreciated!
Here's my repo: [https://github.com/brandonmanson/happe

[2016-07-21 08:29] nsarno commented on #90
It would be helpful if you could provide a failing request spec for this issue.

Also, could you link to the documentation explaining which claims are passed through the payload in your case?

It seems like you expect the payload to contain a field `:email`. Are you sure this is valid? When reading [this](https://auth0.com/docs/quickstart/backend/rails), it seems like the user id is passed through

[2016-07-21 11:10] brandonmanson commented on #90
Auth0 allows you to specify claims in [this documentation](https://auth0.com/docs/scopes). Here's what my payload looks like:

`"payload: {"email"=>"mansonbrandon@gmail.com", "email_verified"=>true, "iss"=>"https://brandonmanson.auth0.com/", "sub"=>"auth0|57843c212f0e1ca74ee67b60", "aud"=>"PGQxxDeLQBkABM5Pg6v1lOZgz2tLcTlU", "exp"=>1469081229, "iat"=>1469045229}"`

I was trying to use `find_or_crea

[2016-07-21 11:20] nsarno commented on #90
I'll close this issue as it does not seem related to Knock directly but you can keep posting here and I'll be happy to help once we have a failing spec :)

[2016-07-21 11:20] #90 closed

[2016-07-21 11:20] brandonmanson commented on #90
👍 thank you!

[2016-07-21 11:26] nsarno commented on #88
@budi I didn't mean to be obvious 🙂

@budi @sachse This actually happens because the default value for `Knock.current_user_from_token` is still set. I'll remove it as it shouldn't be and it is disturbing although it has no consequences.

[2016-07-22 15:16] bmcdaniel11 opened #92 "Unable to retrieve payload for an expired token"
When trying to retrieve a payload from an expired token, I get an expired token error message. I see this is because the default option is to verify the expiration date via the <code>:verify_expiration</code> key if a <code>:token_lifetime</code> has been specified. This works fine in most cases, but I need data from the jwt after it has expired. Currently, my workaround is to extend the AuthToken

[2016-07-22 16:50] bmcdaniel11 commented on #92
Add PR for suggested update https://github.com/nsarno/knock/pull/93

[2016-07-24 06:46] matisoffn opened #94 "undefined method `authenticate_user' for #<Api::EmployeesController>"
I'm getting the above error thrown when sending a request to one of my controllers under the namespace `api`.

In my `app/controllers` directory all of my app's controllers are in `app/controllers/api` *except* `ApplicationController`.

My `ApplicationController` inherits from `ActionController::API`. And then in `app/controllers/api` I have a controller `EmployeesController` for example, that inh

[2016-07-24 07:20] matisoffn commented on #94
Switching to `authenticate` solved my problem.

[2016-07-24 07:20] #94 closed

[2016-07-26 10:11] Donaldo commented on #88
Hi @nsarno

Thanks for this gem, it's very useful.
Are you planning a new release without the default value set for Knock.current_user_from_token ?

[2016-07-26 11:11] nsarno commented on #88
@Donaldo Yes, this should happen soon!

[2016-07-31 16:44] stephenhowells commented on #65
I'm new to JWT but most of this is making sense to me. The only concept I'd love to see some example code for is in regards to creating a new sliding session token with Knock. I'm comfortable with the concept of sliding sessions. However, I'm unclear where Knock would typically tie into the Rails response cycle and how it can create a new sliding session token to send back to the client. I see in

[2016-08-09 13:18] alduro commented on #92
you can pass expiration time this way:

[code]

[2016-08-09 13:25] bmcdaniel11 commented on #92
Yes, but I'm trying to retrieve the payload after the token has already expired. I have data I need to clear which is specific to the token, and since the `AuthToken.new` method automatically returns no payload if the token is expired, I can't get the data I need. Having a way to custom validate the token is what I am looking for. Being able to skip the expiration verification allows me to collect

[2016-08-09 13:32] alduro commented on #92
[code]
within payload?

[2016-08-10 02:08] bmcdaniel11 commented on #92
I'm retrieving an existing AuthToken, not making a new one. The existing one has expired. When I retrieve it using the token, I get the error back that it has expired because it always validates the expiration. I only wish to skip the expiration validation to retrieve the payload from the expired AuthToken. Currently there is no way to skip validation on the expiration date if an expiration date e

[2016-08-17 07:07] rajcybage opened #97 "could not find generator 'knock:token_controller'"
I did

[code]

[2016-08-18 09:29] amiuhle commented on #70
In case someone else is trying to get this to work:

[code]

[2016-08-23 03:21] nsarno commented on #70
@amiuhle Thank you for this. I agree with you, integrating knock + devise doesn't have much value. I would recommand using one or the other but not both at the same time. I reckon the best use case for knock is if you're relying on JWT for authentication exclusively.

[2016-08-23 03:23] nsarno commented on #97
Could you please show your Gemfile / Gemfile.lock?

[2016-08-23 03:29] nsarno commented on #92
I understand what you're trying to achieve and the limitations. I'd like to understand your use case a bit more before deciding if this should be a feature or not. Could you give me an example of what data you're trying to get from the expired token?

Thank you for your patience. I've been away for a bit and unable to allocate a lot of time to reviewing PRs and issues.

[2016-08-23 18:29] bmcdaniel11 commented on #92
No worries on the time, I'm not in a rush on it. So for the use case, I have a `User` model and when the user signs in, I create an `Authentication` model to store other statistics of the log in, including salt so we can invalidate a token externally. Typically, when a user signs out, I delete the authentication, which works fine as I get the user from the Token payload, and I get the salt from th

[2016-08-24 11:27] Rodeoclash opened #99 "Possible issue with Rails 5 autoload"
I've implemented a successful auth flow and tested using Postman. However, only the first request succeeds, subsequent requests fail to populate the `current_user` in the controller (it is null).

Simply re-saving a file in Rails seems to reset everything back to a working state for the next request.

The only thing out of the ordinary is my token controller is namedspaced as follows:

[code]

Are

[2016-08-24 21:52] Rodeoclash commented on #99
Actually, it's more likely to be a problem with the mac docker beta or some other moving part. If I can build a repo to repro this then I'll let you know.

[2016-08-24 21:52] #99 closed

[2016-08-29 13:49] FNGR2911 commented on #44
Damn and I thought I was stupid. Maybe something for Docs/README?

[2016-08-29 14:16] FNGR2911 opened #100 "before_action doesn't work"
hey everybody! I can't get the before action to work with my rails (5.0.0.1) API. I have namespaced routes (api/v1) so my application_controller looks like:

[code]

my user_controller looks like:
[code]

So, when I try to GET the index action it just works! without any authorization.

[code]

So any ideas what I've done wrong? thank you guys!

EDIT
okay, I figured out just using before_action `:a

[2016-08-29 14:24] nsarno commented on #44
@FNGR2911 I updated the README.

[2016-08-29 14:48] nsarno commented on #100
Using `authenticate_for` in a `before_action` is only required in the case where you have a namespaced model. Namespaced routes should not have any impact.

[2016-08-29 15:26] FNGR2911 commented on #100
Oh okay, thanks for clarification :) (my first API ;))

[2016-08-29 15:26] #100 closed

[2016-08-30 07:56] FNGR2911 opened #101 "How to extend response?"
Sorry if this is a stupid question but i have read the docs and instructions at knock.rb 10 times but I can't figure out how to do that (ruby beginner).

So I want to extend the response from Authentication with the user data. I think I have to do sth like this:

**app/controllers/user_token_controller.rb**
[code]
found that in another issue.. but It doesn't work:

[code]

this is how my user cont

[2016-08-30 08:14] nsarno commented on #100
No worries 👍

[2016-08-30 08:36] nsarno commented on #101
Happy to help, although this issue does not seem directly related to Knock so I'll close it.

--

Do you mean you want to add more data inside the token payload?

Then you want to implement `User#to_token_payload`.

Please refer to the [customization section of the README](https://github.com/nsarno/knock#customization) / "Modify the token payload".

The error message is pretty explicit. You didn't

[2016-08-30 08:36] #101 closed

[2016-08-30 09:20] FNGR2911 commented on #101
Hi @nsarno! thank you for every help! You're right, I want to add more data to the response so that it looks like this:

[code]
like I understand the README i need to put the to_token_payload to my user model:
**app/models/user.rb**
[code]
Sorry, I'm a real newbie to ruby coming from frontend stuff.

[2016-08-30 09:33] nsarno commented on #101
The `#to_token_payload` only allows you to add more data **inside** the token. Which is only to be used by the API, not the client.

I don't believe sending user data belongs here. It would be more appropriate to make 2 separate requests. One to create the token and a second one to get user data.

You already have a users controller with a `#show` action that would allow you to do this.

e.g.
[cod

[2016-08-30 09:42] FNGR2911 commented on #101
aaah okay thanks for clarification. I misunderstood the concept of to_token_payload!
I already thought about a second request but i thought it might me easier to extend the token response.
but thanks for your time and help @nsarno!

[2016-08-31 16:00] samueldr opened #102 "Release a gem version with PR #84 included."
I happened to have the same issue that #99 had with Knock, where the first request worked, but not subsequent requests, until code was reloaded.

[This PR](https://github.com/nsarno/knock/pull/84) fixed the issue, but there is no release yet including this fix.

Temporarily using the `~>1.4.2` [pessimistic version constraint](http://guides.rubygems.org/patterns/#pessimistic-version-constraint) wor

[2016-09-01 14:17] jegodwin opened #103 "Question: How to handle onboarding new users"
After reading the docs and a few other tutorials, I can't seem to determine what the flow is for a User that has just been Authenticated w/ an external service (such as Auth0).

Once a NEW user has been auth'ed with Auth0 for the first time, and the client passes the JWT for know to decode and verify, what is the proper way of handling this new user?

1. Should the new user's params be included wi

[2016-09-03 02:27] Rodeoclash commented on #99
It looks like this has been fixed in https://github.com/nsarno/knock/pull/84 but here's a repo with instructions on how to recreate the bug:

https://gitlab.com/Rodeoclash/knock-reload

[2016-09-03 02:47] Rodeoclash commented on #102
@samueldr Installing from master: `gem 'knock', github: 'nsarno/knock'` fixed the reload issue for me - if you don't want to fall back to 1.4.2

[2016-09-05 16:51] joaosoares commented on #88
Also getting the deprecation message using the `authenticated_headers` method above. Is there any workaround while we wait for the new release?

[2016-09-06 05:45] Tref commented on #103
👍 I have been trying to figure out this same exact issue for the past day. This is actually not just a question amongst rails application but for Auth0 / API design as a whole. Really interested to hear not only what the @nsarno has to say about this but also what the Auth0 team has to say about this as well. For some reason I'm having a hard time giving them an @mention here...

[2016-09-07 16:46] march23 opened #104 "current user is nil after token authenticated"
Even when the user token is authenticated I can't have access to the current_user, it sets to nil.

If I try to do Knock::AuthToken.new(token: token).entity_for(User) it does find the resource.

Rails 5

[2016-09-07 17:39] samueldr commented on #104
Try either downgrading to `~>1.4.2` or tracking master, as in #102, you might be hitting a case fixed in #84, but that is still not up in rubygems.

[2016-09-07 22:56] march23 commented on #104
I had to downgrade to ~>1.4.2, tracking master result on the same issue, not sure why since the #82 supposed to fix it

[2016-09-08 20:32] whazzmaster commented on #103
Agreed; I'm working through the same workflow myself and am stuck. In the case where, say, a single-page app client registers a new user with Auth0, I can expose a POST endpoint for it to hit with the JWT in the authorization header, but that's where things get confusing.

As it stands there are only two outcomes from analyzing the token in the auth header:
1. It's valid and we found a user matchi

[2016-09-14 02:15] oyeanuj opened #105 "Using with password-less authentication"
Hi @nsarno! Thank you for open sourcing this library! I was running into a conceptual problem while using it in a password-less authentication model (tldr: user enters email, clicks on link in sent email to authenticate - all of which is already set up).

I was curious as to how best to implement the `authenticate` method that the model needs to support. It seems like it is being used here and the

[2016-09-14 02:36] oyeanuj commented on #105
edited the question above for clarity.

[2016-09-14 04:37] nsarno commented on #105
I haven't tried to implement this myself so I can only guess what I would try to do myself.

For the initial token creation, I see two possible solutions:

- Pass the token from the email via the `auth[password]` param and implement your own `User.authenticate` method

or

- Implement your own authentication controller that does whatever you want and returns the auth token (with `AuthToken.new pay

[2016-09-14 04:37] #105 closed

[2016-09-14 04:38] nsarno commented on #104
Could you provide a failing test? Thanks

[2016-09-14 04:47] nsarno commented on #103
@jegodwin Yes.

@whazzmaster Yes.

Basically it's up to you to implement `User.from_token_request` in a way that matches your authentication flow. In this case, using `find_or_create_by` sounds perfectly reasonable.

Hope this makes sense.

[2016-09-14 04:47] #103 closed

[2016-09-14 04:50] nsarno commented on #102
@samueldr I was hoping to do this sooner but haven't taken the time to get to it yet. Thank you guys for being patient :)

[2016-09-14 04:51] #97 closed

[2016-09-15 09:52] bastianwegge commented on #97
Hey @nsarno, I'm getting this error too. My lock-file says I'm using `knock (1.4.2)`

[2016-09-15 22:35] OpticNectar opened #106 "Angular Integration"
Is there a good article or add on that can connect this gem with Angular? I've found things like https://github.com/lynndylanhurley/ng-token-auth etc, but i'm not 100% sure how to integrate it since there seem to be a lot of functions missing.

[2016-09-16 03:13] raviada commented on #70
The only thing I can think of using Devise is for generating forgot password tokens and links, other than that I see no need to have Devise. If we already have Devise integration, what would be the best way to remove Devise ad yet support "Forgot Password" flows.

[2016-09-19 04:40] yunixon commented on #104
current_user returns nil me too on Rails 5.0.0.1, with 1.4.2 works

[2016-09-19 19:29] alexkalish commented on #79
I'm trying to use knock 1.5 using namespaced models and I'm struggling to get the solution mentioned above to work.  With a model such as a `Admin::User`, calling `authenticate_for Admin::User` will generate `getter_name` of `current_admin/user` ([here](https://github.com/nsarno/knock/blob/master/lib/knock/authenticable.rb#L8)).  This will defined as a usable method on the controller, but can only

[2016-09-22 06:49] bdavidxyz opened #108 "integration with lock"
Is there any way to integrate knock with [lock](https://auth0.com/docs/libraries/lock/v10/auth0js) ? Since knock works seamlessly with auth0, it would be great to have also a seamless ui integration, regardless of how the ui is built (vanillaJS, jQuery, angular, ember, or whatever)

[2016-09-23 08:39] bdavidxyz commented on #108
Maybe in-depth study of https://github.com/nsarno/knock/issues/103 should solve the issue

[2016-10-13 15:29] gneale commented on #104
I also have this problem: First call sends current_user info and all the other times it sends nil.
Using stock Rails 5.0.0.1 and Knock 1.5.
I downgraded to 1.4.2 and used authenticate instead of authenticate_user and it sends the user info every time as expected. I'm not good enough to provide a failing test for you. Do you want me to share the the code ?

[2016-10-13 15:33] gneale commented on #104
Ok using master works perfectly, sorry.

[2016-10-18 20:23] Petesta commented on #88
Hi, I'm also running into the deprecated issue like @sachse.

I went through the [CHANGELOG.md](https://github.com/nsarno/knock/blob/master/CHANGELOG.md#15---2016-05-29) to address the warnings but it doesn't seem to resolve them.

I have no calls or definitions of `Knock.current_user_from_handle` in my code yet that deprecation warning is still not resolved.

I'm receiving two deprecation warning

[2016-10-21 07:49] sachse commented on #88
@Petesta As @nsarno mentioned, the next release of knock will fix it. Until then you can just ignore the warning.

[2016-10-21 14:48] flowryaan opened #109 "Best way to refresh a JWT token, which is about to expire."
Hello everyone 😊

First of all I am sorry if this is a stupid question. I am just learning all the things about securing APIs. I know that tokens should not be valid forever, so the tokens should have a short expiration time, but this raises a problem on how to refresh a token.

I was thinking about something like requesting the `/user_token` route (which knock provides) with the `Authorization` H

[2016-10-21 14:59] Petesta commented on #88
@sachse Do we have any idea when that release may happen? That comment was posted back in the end of July. Even if it's benign I'd still like to resolve this. What is needed to help push this along?

[2016-10-23 08:58] saroar opened #110 "NameError: undefined local variable or method `has_secure_password' for"
[code]

Hi there thank for awesome gem but would you like to check please where i am doing wrong ? here thanks advance

[2016-10-23 11:52] #88 closed

[2016-10-23 11:53] #102 closed

[2016-10-23 11:54] #104 closed

[2016-10-23 11:54] nsarno commented on #104
Feel free to reopen if you still encounter this issue in the latest version or master.

[2016-10-23 11:58] nsarno commented on #110
Please refer to [this section](https://github.com/nsarno/knock#requirements) of the README as well as the documentation of [has_secure_password](http://api.rubyonrails.org/classes/ActiveModel/SecurePassword/ClassMethods.html#method-i-has_secure_password) (as linked in the README).

Did you add the `bcrypt` gem to your Gemfile?

Hope this helps.

[2016-10-23 11:58] #110 closed

[2016-10-23 12:01] nsarno commented on #108
I don't know as I never used lock myself. I'm closing this as this is not an issue per se, but feel free to contribute by adding an example of how to integrate it if you'd like.

[2016-10-23 12:01] #108 closed

[2016-10-23 12:02] saroar commented on #110
http://prntscr.com/cxun0s

[2016-10-23 12:09] nsarno commented on #110
@saroar This does not seem related to knock but rather to how you use `has_secure_password`.

Also, I don't believe this is valid and this might be what the error is referring to.

I also don't know what `ApplicationRecord` is, so I can't help you much here. If  you're not using Active Record, then `ActiveModel::SecurePassword` will not be included automatically.

Again, please read the documentat

[2016-10-23 12:22] nsarno commented on #106
Not that I know of sorry. I haven't used angular in a while but integrating with Knock should be straightforward. I'm closing this as this isn't an issue per se, but feel free to contribute by adding a link to an article or some similar resource that would help with this. Thanks!

[2016-10-23 12:22] #106 closed

[2016-10-23 12:24] nsarno commented on #109
@flowryaan A similar topic has already been discussed in #65. Hope this helps!

[2016-10-23 12:24] #109 closed

[2016-10-24 10:19] sachse commented on #88
Sorry @nsarno, but this issue was originally about the README, not the deprecation warning 😅

[2016-10-25 00:34] nsarno commented on #88
@sachse Ha, you're absolutely right! I merged the related PR. Sorry it took me so long to merge something so simple.

Thank you so much for contributing and being so patient ❤️

[2016-10-26 10:08] YMonnier commented on #46
I have the same problem with knock 2.0 when I want to login.

routes.rb
[code]

application_controller.rb
[code]

error
[code]

[2016-10-29 19:28] saroar opened #112 "Is there any guide like for"
omniauth-facebook with knock ? for api server site so click site can us for Facebook login
please let me know or some guide with Auth0.
i need open source

[2016-11-02 19:02] saroar opened #113 "cant i create sessions_controller.rb"
https://www.sitepoint.com/rails-authentication-oauth-2-0-omniauth/
i am using this tutorials for my back end social login so my question is can i create sessions controller and use use normal way ?

[2016-11-03 22:29] muZk commented on #112
Hey, I was playing a bit with this gem and facebook login. I created a sample rails API application with my experiment available at https://github.com/muZk/rails5-api-jwt-facebook-auth

Note: the approach doesn't require omniauth (btw, I'm not sure if its the best approach).

[2016-11-03 22:33] saroar commented on #112
thanks a lot i will check tomorrow thanks again i will play with it

[2016-11-03 22:35] muZk commented on #11
Hey, I created a sample application for facebook login + jwt. I'm not sure if its the best approach but it works: https://github.com/muZk/rails5-api-jwt-facebook-auth

It was designed for getting the FB accessToken "client" side (which could be a JS application or Mobile app).

@nsarno any thoughts?

-----

The key files are:

**facebook_user_token_controller.rb**

[code]

And **facebook_service.r

[2016-11-11 01:32] thiagopecanha opened #114 "Knock generator it's not listed on Rails 5 generate"
1 - Open Gemfile
2 - Add -> gem 'knock'
3 - bundle install
4 - rails g knock:install

Expected Result: knock generates a knock initializer file.

Actual Result: knock it's no found by Rails generator.

~/D/P/api-test ❯❯❯ rails generate knock:install
Running via Spring preloader in process 24007
Could not find generator 'knock:install'. Maybe you meant 'rspec:install', 'devise:install' or 'responde

[2016-11-11 16:48] #114 closed

[2016-11-11 16:49] thiagopecanha commented on #114
This was a local error.

[2016-11-15 01:10] duboff opened #115 "N+1 Queries For current_user"
Every time I try something like:
[code]

Where a charts is another model with a many to many relationship with the user. In a controller, `bullet` gem alerts me there is an N+1 query:
[code]

I can usually get around this by doing `Chart.where(user: current_user)` but this is a lot less pleasant to work with.

Is there something simple I am missing or does current implementation of `current_user`

[2016-11-16 18:02] onesup opened #116 "generate knock:install fail"
I use `activeadmin` gem for this project.
I added `knock` gem into my `Gemfile` and I try to `rails generate knock:install` and then it was fail and leave this error logs.

[code]

and this one is my `Gemfile`

[code]

[2016-11-16 23:16] nsarno commented on #113
Knock is a token-based authentication solution. There is no sessions.

[2016-11-16 23:16] #113 closed

[2016-11-16 23:17] #112 closed

[2016-11-18 07:59] YMonnier opened #117 "Custom login response"
Hello,

I would like to know if it is possible to get a custom login response like:

[code]

instead of:

[code]

Thank you,
YM

[2016-11-18 10:30] toupeira commented on #117
Disclaimer: I'm new to Knock and just trying to understand how it all hangs together :)

The whole point of using JWTs is that you can encode arbitrary claims in it, so the idea is that you decode the token on the client to access the data. See [jwt.io](https://jwt.io/), your token contains the following payload:

[code]

See the section "Modify the token payload" in the [README](https://github.co

[2016-11-18 10:41] toupeira opened #118 "Authenticable doesn't seem to be a word"
`Knock::Authenticable` should probably be renamed to `Knock::Authenticatable`

Also see https://github.com/plataformatec/devise/issues/13

[2016-11-20 14:34] colinramsay commented on #46
@YMonnier you have probably fixed this but for anyone else having this issue, you need to change the endpoint that you're posting to from `auth_token` to whatever entity you're authing against - probably `user_token`. I think this is a change brought in by Knock 2.0.

[2016-11-20 15:19] colinramsay opened #119 "Multiple User Types"
We have both `admin` and `user` types but these are stored in separate tables. We'd like both types to be able to log in using the same mechanism. It seems that knock doesn't really lend itself to having this arrangement - is there any recommended way of doing this?

[2016-11-21 12:42] jasonswett commented on #100
So to be clear, the following is what worked, right?

[code]

[2016-11-21 23:01] nsarno commented on #118
I almost changed it at one point but couldn't find enough information on which was better than the other. I found both being used interchangeably.

The rule given by Jose makes sense though, so I'll rename it.

[2016-11-21 23:11] nsarno commented on #117
@YMonnier Have a look at [the code of the token controller](https://github.com/nsarno/knock/blob/master/app/controllers/knock/auth_token_controller.rb). As @toupeira suggested, you can override the `#create` method to fit your needs.

[2016-11-21 23:11] #117 closed

[2016-11-21 23:21] nsarno commented on #116
This looks like an issue with `activeadmin` rather than `knock`. Please open an issue with them. I haven't had time to look into the `activeadmin` code, but it could be an issue similar to this one https://github.com/cerebris/jsonapi-resources/issues/450.

I'll close this for now, but feel free to reopen if it appears that it's actually an issue with knock.

[2016-11-21 23:21] #116 closed

[2016-11-21 23:29] nsarno commented on #119
Have you read the README? Knock allows you to use any user type that you want side by side, out of the box. The example is even given specifically for `admin`.

Let me know if I misunderstood your question or if you find the README isn't clear enough.

[2016-11-21 23:29] #119 closed

[2016-11-22 00:15] psantos10 opened #120 "Knock wont work with namespaced routes"
I have the following route file:

[code]
With that, I expect to be able to make a POST request like:

But this request gives me the following error:

It seems like, knock are trying to access my model `User` from the same namespace where the controller `UserTokenController` is. But my model `User` is not namespaced:

[code]

My user_token_controller.rb

[code]

Ruby Version: 2.3.2
Rails Version: 5

[2016-11-22 08:53] colinramsay commented on #119
I have read the readme; I'm using knock in production. What I want is that `current_user` would return either `User` or `Admin` depending on who is logged in. I've got a workaround in place anyway.

[2016-11-22 10:26] psantos10 commented on #120
Today I noticed taht using a lastet published version (2.0) Its gives me the error.

But if I setup to get the gem from github, like:

Its works!

[2016-11-22 22:25] adonespitogo opened #121 "Rspec test - uninitialized constant Knock::AuthToken"
I'm trying to create a helper for test authentication. But I get the error below. Debugger shows Knock only has `Engine` constant and no `AuthToken`

[code]

[code]

[2016-11-23 00:23] nsarno commented on #120
@psantos10 this has been fixed in #95 thanks to @albertobajo. I'll release a new version soon. In the meantime, using `master` works.

[2016-11-23 08:19] psantos10 commented on #120
@nsarno I am using `master` branch now. And its working.

[2016-11-23 08:19] #120 closed

[2016-11-23 17:46] johnmosesman opened #122 "Less aggressive rescue in define_current_entity_getter?"
Hi,

Could the rescue on [this line](https://github.com/nsarno/knock/blob/master/lib/knock/authenticable.rb#L49) look for certain errors to rescue from instead of rescuing anything?

As I was trying to setup knock I had something like this in my User model to test the auth flow:

[code]

I was very confused why this method was never being called. Through a long and frustrating process I realized t

[2016-11-24 01:34] fightingtheboss opened #123 "Abstract JWT library to enable use of JWKS public keys"
With the direct dependency on the [`ruby-jwt`](https://github.com/jwt/ruby-jwt) library, knock currently can't easily support Client Credentials Grants via Auth0. This is due to the fact that the `JWT` library only accepts RSA public keys for decoding, rather than JWKS keys provided from a well-known URL. This issue is being discussed here: https://github.com/jwt/ruby-jwt/issues/158 and will perha

[2016-11-30 22:09] gohuygo opened #127 "Why are we catching the error and not exposing it?"
In `authenticatable.rb`, we have:

            begin
              Knock::AuthToken.new(token: token).entity_for(entity_class)
            rescue
              nil
            end

Is there a reason why we catch the error here and not expose it? I thought I had an implementation error but it turned out to be just a stale token.

[2016-12-02 10:08] dan003400 opened #128 "Entity Name returning module::module::model"
This method is not being called properly when in sub modules.

`def entity_name
       self.class.name.scan(/\w+/).last.split('TokenController').first
  end`

For instance I was getting back Api::V1::User rather than User.

Thanks,

Dan

[2016-12-07 04:22] crafterm commented on #128
I also had the same behaviour, wasn't sure whether it was by design or not so had to override entity_name to return a non module'd name

[code]

Perhaps this should be part of the supported API for customisations?

[2016-12-15 11:07] ristovskiv commented on #115
The current implementation of the `current_user` method is nothing but `User.find(id)` that is if everything is set as default and nothing is overridden or changed in the configuration file. So my humble opinion is that `current_user` is not causing the N+1 queries. Have you tried `current_user.includes(:charts)` and then access the attributes from the charts relationships ?

[2016-12-21 04:32] zsy2053 commented on #97
@rajcybage Hi i meet the same problem

[2016-12-21 04:39] zsy2053 opened #130 "Could not find generator 'knock:token_controller'."
Hi, I meet this problem

`Could not find generator 'knock:token_controller'. Maybe you meant 'scaffold_controller', 'erb:controller' or 'controller'`

and here is my configuration of gem
[code]

[2016-12-22 20:00] atomanyih opened #131 "Case-insensitive email comparison?"
It would be nice to have the option to look up and authenticate a user via `email` regardless of case.

Technically only the "local part" of the email is case-sensitive, but a lot of systems are case-insensitive to the entire email (both local part and domain). Devise lets you configure this in the initializer: https://github.com/plataformatec/devise/wiki/How-To:-Use-case-insensitive-emails

It do

[2016-12-31 04:58] GregTheGreek opened #132 "Auth param missing"
I'm running a rails 5 API and posting to the knock engine to generate a JWT token.

I haven't modified the knock code and for whatever reason params being passed to the controller do not include `auth` even though I have it in the payload...

Anyone else have this issue?

[2016-12-31 05:03] GregTheGreek commented on #132
This is not a knock error. Im using axios for ReactJS .. it was an axios error.

[2017-01-07 08:40] bortevik commented on #115
`User.find(id).includes(:relationship)` doesn't work. It should be `User.includes(:relationship).find(id)`

[2017-01-07 08:54] ristovskiv commented on #115
Yeah you are absolutely right, sorry about it. my beginners mistake... :(

[2017-01-08 22:03] duboff commented on #115
Yeah, the problem is it's hard to chain `includes` onto a `current_user` as currently designed.

[2017-01-14 12:49] zangab opened #134 "How to customize user_token response"
Hy,
I'm using your knock gem in a rails 5 api. My question is, if or how I can modify the method `user_token` to e.g. also return some data the current or authenticated user? (in addition to the jwt)
I guess i could create my own `auth_token_controller.rb` but if there's a simpler / easier way, I would appreciate it.
Thx

[2017-01-16 21:23] AugustoPedraza opened #135 "Auth0 example fails with: `#<NoMethodError: undefined method `verify' for #<String:0x0055d5722781f0>>`"
Hi, I'm following the Auth0 example provides [here](https://auth0.com/docs/quickstart/backend/rails), but I can't make it works because it is failing with the following exception:

#<NoMethodError: undefined method `verify' for #<String:0x0055d5722781f0>>

Backtrace:
[code]

This is how my initializer looks:

Knock.setup do |config|
  config.token_audience = -> { Rails.application.secrets.auth0_cl

[2017-01-18 00:18] johnunclesam commented on #132
How to modify the "auth" word? What if I don't want an "auth" param?

[2017-01-18 00:32] zangab commented on #132
then you would have to override / customize the classes for your needs - but whats annoying about the "auth" param?

[2017-01-18 00:34] zangab commented on #134
alright .. I thought this gem is going to be maintained? 🤔😔

however, i solved my own problem by overriding the class method by creating a ruby class in the initializers and with this code:
[code]

[2017-01-18 00:35] #134 closed

[2017-01-18 00:37] zangab commented on #132
@GregTheGreek would you close the issue cause its not an error of the gem knock

[2017-01-18 00:56] johnunclesam commented on #132
@zangab can you please post an example for authentication without "auth" param?

[2017-01-18 07:54] zangab commented on #132
you could create a file in `config/initializers` (naming doesnt matter, but maybe smth like `custom_token_auth.rb`) and put this code into it:
[code]
restart the server and it should work with:
[code]

[2017-01-18 10:42] johnunclesam commented on #131
Which is the best way? Override `auth_params` (and how the best? Initializer?) or use `from_token_request` on my model? Can you please explain us this, @nsarno? Thanks.

[2017-01-18 20:17] johnunclesam commented on #132
Which is the best way? Override `auth_params` like this or use from_token_request on my model?
Can you please explain this.

Why `class_eval`?

[2017-01-18 20:33] zangab commented on #132
hmmm - I guess both is fine - I can't tell you which one is better.

with `Knock::AuthTokenController.class_eval` you can modify (like override methods) or also extend the class, in this case the `AuthTokenController` in the `Knock` module. I used this to add a custom response value in addition to the token when a user signs up.
[class_eval info](http://apidock.com/ruby/Module/class_eval)

[2017-01-18 22:58] nsarno commented on #131
I'm trying to stay away from configuration as much as possible in favour of sensible defaults and a way to override it.

In this instance, using `.from_token_request` is a perfectly suitable solution.

I'm not too sure about what would be the best default but email addresses are case sensitive (except for the domain), so the current behaviour seems appropriate.

I'll close this issue, but feel fre

[2017-01-18 22:58] #131 closed

[2017-01-19 02:46] nsarno commented on #132
Closing this issue.

[2017-01-19 02:46] #132 closed

[2017-01-19 02:46] nsarno commented on #132
@johnunclesam:

`.from_token_request` gives you full flexibility to customise this behavior. It would be the recommended way to do it.

[2017-01-19 02:54] nsarno commented on #115
@duboff You can use `.from_token_payload` to solve this.

e.g.

[code]

Let me know if this solves your issue and feel free to re-open if not. Thank you!

[2017-01-19 02:54] #115 closed

[2017-01-19 19:04] GregTheGreek commented on #132
@nsarno sorry I would have clsoed this earlier, didn't get email updates.

[2017-01-19 21:24] duboff commented on #115
Hi @nsarno, this does help but that now means I have to eager load the relationship everywhere which is not ideal either. Typically you only need the relationship in each controller.

I also can't (as far as I can figure out) reimplement the current_user method. Maybe it would make sense to pass relationships to it as an argument? Happy to try that myself if you think it makes sense.

[2017-01-20 02:32] nsarno commented on #115
@duboff You should be able to define your own `current_user` method. Knock checks if the method is already implemented before defining it.

Also I don't really think this qualify as a N+1 query in the sense where N will always equal to 1 in this instance (which Bullet can't know about). So the impact should never be significant and might not require the extra optimization work. This is of course u

[2017-01-23 11:51] zangab commented on #132
@nsarno how would you return a jwt token when a user signes up? in the `users_controller` i have a `create` method - should this work? (as in the rspec tests)
[code]

[2017-01-23 16:45] AugustoPedraza commented on #135
The error was produce because I was using an invalid Auth0 workflow to get my JWT.

[2017-01-23 16:45] #135 closed

[2017-01-23 22:30] nsarno commented on #135
@AugustoPedraza Glad you figured it out, thank you for updating the issue.

[2017-01-23 22:31] nsarno commented on #130
Could you provide your `Gemfile.lock`, thank you.

[2017-01-26 16:33] HLFH opened #136 "2.1 release"
@bmcdaniel11 @nsarno Hi. Could you release the 2.1 version of knock, please?

This PR https://github.com/nsarno/knock/pull/95 is a critical issue and it is now merged. So, why not a 2.1 release?

[2017-01-26 23:58] danhixon commented on #47
#72 allows us to customize the JWT payload but I'd like to be able to do what @iLikeKoffee is doing here: providing a token and the user json. Is there a way to do that without copying and pasting the private methods into a custom controller?  Perhaps a single protected method like the following:

[code]

All the private methods are in tact and if a user desires he/she can override the json_payloa

[2017-01-29 21:46] johnunclesam opened #138 "Rails 5, "skip_before_action :authenticate_user" in every controller throw: "ArgumentError: Before process_action callback :authenticate_user has not been defined""
I'm using **Rails 5** and if I use:

[code]

in every controller (it doesn't matter which), Rails throw this error:

[code]

I fixed this temporarily by adding this:

[code]

**Why this?**

The same problem people have here: https://github.com/plataformatec/devise/issues/4207

[2017-01-30 22:19] nsarno commented on #132
@zangab yes, this would work.

[2017-01-30 22:37] nsarno commented on #136
I just released version `2.1`, sorry it took longer than it should have.

[2017-01-30 22:37] #136 closed

[2017-01-30 22:37] nsarno commented on #130
Feel free to reopen this issue with more infos if you still encounter this problem.

[2017-01-30 22:37] #130 closed

[2017-01-30 22:40] nsarno commented on #138
Could you provide the code of your controller? If possible, a failing test would be even nicer 👍

Thank you

[2017-01-31 00:59] HLFH commented on #136
Thank you!

[2017-01-31 20:00] johnunclesam commented on #138
Oh, sorry @nsarno, I don't have an online demo and my code is just rails api 5 latest version default, simply controller `hello world` with basic code and `nsarno/knock` master on github or 2.1.

`before_action` works,

`skip_before_action` doesn't work.

[2017-01-31 23:02] nsarno commented on #138
Having the code of your controller would still be helpful, otherwise I can only guess. Thank you

[2017-02-01 10:21] SiDevesh opened #139 "Filter chain halted as :authenticate_user rendered or redirected Completed 401 Unauthorized in 1ms (ActiveRecord: 0.0ms)"
I am trying to setup a Rails API using auth0 for authntication. I have followed the instructions at [Auth0 rails API quickstart](https://auth0.com/docs/quickstart/backend/rails).
This is how my User model is:
[code]
I have just auth0_id_string and password_digest fields in user column of db.
My controllers and routes are namespaced like:
/controllers/api/v1/apps_controller.rb
[code]
routes.rb:
[co

[2017-02-01 13:11] johnunclesam commented on #138
You can try with every controller with before_action :authenticate_user

[2017-02-01 20:49] johnunclesam opened #140 "Let's become Knock the devise for JWT API."
It would be amazing to become knock the new devise for JWT API.

Or at least we can understand here together how to handle the signup, the recovery user and password, confirm the user after email and some other devise features?

[2017-02-02 05:16] SiDevesh commented on #139
OK, figured this out...
First,
the secret key I got from auth0 was not base64 encoded, so the commented out line in the generated initializer of knock (/config/initializers/knock.rb) for auth0, which decoded the secret key as base64 ended up giving wrong key,
Now I am using this:
`config.token_secret_signature_key = -> { Rails.application.secrets.auth0_client_secret }`

Second,
I was only able to

[2017-02-04 14:07] gingerhot opened #141 "why not use 401 instead of 404 when unauthorized?"
http code 404 stands for resourse Not Found，is 401 more accurate when the user authentication failed?

reference:  http://stackoverflow.com/questions/3297048/403-forbidden-vs-401-unauthorized-http-responses

Thanks~

[2017-02-04 17:02] bmichelsen commented on #141
From the README:

This has also been answered in issues #44 and #76.

[2017-02-05 01:16] gingerhot commented on #141
got it.

Thanks again for repeating the answer to my carelessness!

[2017-02-05 01:26] #141 closed

[2017-02-05 14:47] JerryArns commented on #140
I'm doing this from scratch right now, using knock of course. It wouldn’t be terribly difficult, just a bit time consuming. I am just using devise user model attributes to figure out what is needed.

[2017-02-06 09:54] ehannes commented on #128
I also have problem with how Knock handles namespaces (I use namespace `V1` for both my models and my controllers). I found two similar issues on the matter in this repository:
#120 "Knock wont work with namespaced routes" and #79 "Namespacing models".

How does the current implementation work? Are there some cases that are not yet supported? Maybe it's time to add a section about namespaces on th

[2017-02-06 17:01] adammcnamara commented on #139
@SiDevesh Thanks for posting this. Knock, I'd really appreciate if you didn't fail silently. This issue took me hours to find.

[2017-02-06 20:12] cs3b opened #142 "SECURITY VULNERABILITY - request without token, or empty token is granted access"
I've added `knock` to `JSONAPI::ResourceControllerMetal` and I was surprised that all my controller specs were still working (without any token). Whenever I've pass the wrong token the action was stopped.

Digging dipper give me hint that `Knock::AuthToken.new(token: nil)` will generate new token and Authentication is executed at all.

This is my first project where I'm using Knock - still it look

[2017-02-06 20:22] cs3b commented on #142
I also wonder why the constructor `new` in `Knock::AuthToken` have more then one job.

[code]

is there a reason why it isn't a two separate factories?

[2017-02-07 14:37] AldrichMascarenhas commented on #142
This checks out. I was wondering as well. I am able to make all requests IF i pass no token.

[2017-02-07 15:44] johnunclesam commented on #142
@AldrichMascarenhas , can you show us some examples of requests with no token using for example Postman?

[2017-02-07 15:55] AldrichMascarenhas commented on #142
@johnunclesam
Repo : https://github.com/AldrichMascarenhas/Knock-Issue142-Example

Also image : https://github.com/AldrichMascarenhas/Knock-Issue142-Example/blob/master/Screenshot%20from%202017-02-07%2007-54-24.png

[2017-02-08 17:16] roschaefer commented on #139
@adammcnamara whole day for me. At some point I realized that `from_token_payload` gets called only if no token is sent. A hint in the generated [initializer](https://github.com/nsarno/knock/blob/master/lib/generators/templates/knock.rb#L42) would have helped me already.

[2017-02-09 10:40] ehannes commented on #142
I encountered the same vulnerability when testing my application that uses knock. How does the test coverage for this gem look like?

[2017-02-09 16:49] cs3b commented on #142
From what I see there is no test case for context: authorization header not provided:

https://github.com/nsarno/knock/blob/master/test/dummy/test/controllers/admin_protected_controller_test.rb#L18

Can anyone confirm?

[2017-02-10 02:37] nsarno commented on #142
@cs3b thank you for reporting this.

@AldrichMascarenhas thank you for providing example code.

Knock responsibility is to assert the existence of a correctly signed token. I agree that in the case where a token isn't provided, the execution should be stopped as soon as possible by Knock and it should not try to instantiate a user. This need to be fixed (I'm happy to do it myself or review someone

[2017-02-10 08:19] nsarno commented on #142
#143 should address the issue.

@cs3b (and others) Could you please review it and let me know if I'm missing something?

Ultimately,  I believe a deeper refactoring of the `Authenticable` module and the `AuthToken` class would be needed. SRP and readability have been compromised in multiple places which goes against what I think this gem should be.

Thank you everyone for the precious feedback.

[2017-02-10 14:31] cs3b commented on #142
@nsarno yes it looks good - thank you 👍

[2017-02-10 14:31] #142 closed

[2017-02-12 21:46] bmichelsen commented on #138
Did you have a look at [this](https://github.com/plataformatec/devise/issues/4207#issuecomment-234577294) and [this](https://github.com/plataformatec/devise/issues/4207#issuecomment-234587685) from the same thread?

The last comment linked above also makes a reference to [clearance/issues/621](https://github.com/thoughtbot/clearance/issues/621) which further points to the [method](https://github.c

[2017-02-13 02:39] nsarno commented on #138
Thank you for your detailed answer @bmichelsen

[2017-02-13 02:39] #138 closed

[2017-02-13 02:54] nsarno commented on #140
I'm open to people contributing documentation and guides that we could link to from the README.

My vision for knock is to keep it strictly focus on authentication and to keep it as simple as possible so anyone regardless of their skill level can wrap their head around how the gem works.

Devise is awesome and feature-rich. One of the downside of this is that some people may use it without trying

[2017-02-13 20:00] johnunclesam commented on #140
Beatiful. I agree with you 100%. I can't wait.

[2017-02-15 18:06] mberrueta opened #144 "Using Auth0 with multiple clients"
hello I'm using Auth0 and I have 4 clients and a rails api server

![image](https://cloud.githubusercontent.com/assets/1004448/22988088/c11eb57c-f38f-11e6-8a99-dae80300dfcc.png)

I'm creating from each of the clients, they own jwt token. the thing is when I call the rails API I send the jwt
for instance

[code]

but (because each jwt is generated with different client_ids) I'm no able to validate

[2017-02-16 01:27] lukeivers commented on #66
I'd like to piggyback on this because I'm doing something extremely similar and don't really have the capacity to roll my own auth solution.

Here's what I'm doing:
I make custom apps for clients.  Each app has its own associated Client in Auth0.  However, there's a single backend/API which all custom apps use to provide their functionality.

Right now when setting up knock via initializer, I'm re

[2017-02-16 22:25] lukeivers commented on #66
After looking at this more all day today, I think it would be almost trivial to add the ability to do all sorts of custom things including multi-tenancy if Knock would just pass the request object into the Procs used for token_audience and token_secret_signature_key.

Then I could pass in request parameters, http headers, etc, as a way to pass custom information that I could use in those Procs to

[2017-02-17 08:58] rccursach opened #145 "Sending params[:token] in requests makes authentication fail apparently with "no reason""
If some of your controllers receive a parameter called **"token"** and calls`:authenticate_<class>` before actions, auth will fail as if no user were authenticated or JWT passed.

This, because of this method from `Knock::Authenticable`

[code]

Will catch the `:token` param as the JWT and fail to authenticate the user.

You can override the method in the class where you are including `Knock::Auth

[2017-02-20 22:19] lukeivers commented on #66
Final follow up:

I now have this working.  I am using grape-knock as a wrapper, and I have it pass in the request object as a parameter when creating the AuthToken, which is then stored and handed over to the procs when the appropriate private methods within AuthToken are called.

I can then dig out request parameters, http headers, whatever dynamic info I need as part of the request, and use the

[2017-02-20 22:25] romanos commented on #104
I'm still having this issue in master, btw. Hard to recreate, but I will try and post a test case here.

[2017-02-23 03:48] ened commented on #127
I had one of these `*** JWT::VerificationError Exception: Signature verification raised` and was expecting the API to render `401 unauthorized`, instead it went straight through.

[2017-02-24 21:15] jessecravens commented on #139
I'm still having issues with this. Im seeing that Auth0 always uses RS256 algorithm, so I changed it in the knock.rb config `config.token_signature_algorithm = 'RS256'` and added the `config.token_public_key` as well.

Stepping through I see the algorithms match:

[code]

My JWT validates and signature verifies at jwt.io but when I step through the decoding it always falls right into:

[code]

[2017-02-24 21:25] jessecravens opened #146 "Filter chain halted as :authenticate_user rendered or redirected Completed 401 Unauthorized"
I'm opening this separate from #139 , same result, perhaps different reasons ... hopefully just my ignorance.

I'm not seeing how to get passed decoding the JWT from Auth0 ... so a User can be generated by `before_action :authenticate_user` on the controller and `self.from_token_payload` on the model.  I'm seeing that Auth0 always uses RS256 algorithm (and recommends it as secure, while HS256 is n

[2017-02-24 21:27] jessecravens commented on #139
Moving this to a separate issue #146

[2017-02-25 00:41] johnmosesman commented on #127
I raised the same issue here:  #122

[2017-02-25 16:29] johnmosesman commented on #146
@jessecravens I have a Rails API that just ran into this problem, and it was for two reasons:

1) Like [SiDevesh commented](https://github.com/nsarno/knock/issues/139) before the issue was closed, apps made past Dec 6th [no longer have their secret Base64 encoded](https://auth0.com/forum/t/client-secret-stored-without-base64-encoding/4338), so I needed to change the initializer to remove the Base6

[2017-02-25 16:54] johnmosesman commented on #122
It seems like more than a few people have had issues where swallowing the error has made it very hard to figure out what is going on. You basically have to redefine `define_current_entity_getter` in your app to find the problem.

I'm happy to submit a PR. What do we think about just throwing the error here?

[code]

[2017-02-26 00:33] brunowego opened #147 "Knock with ActionCable"
I wish connect authenticated user with ActionCable, my implementation is below, I have doubts about if is the best approach:

[code]

If have any tip I will appreciate 👍

[2017-02-26 15:50] jessecravens commented on #146
Thanks @johnmosesman overriding the method: `define_current_entity_getter` in my controller ... gives me a better error :

```*** NoMethodError Exception: undefined method `verify' for #<String:0x007fdba3a3b138>```

which leads me to this issue with knock . ruby-jwt : https://github.com/jwt/ruby-jwt/issues/115 .

[2017-02-26 16:03] jessecravens commented on #135
@AugustoPedraza can you elaborate on `using an invalid Auth0 workflow to get my JWT` ... I'm seeing the same issue.

[2017-02-26 16:20] freemind- commented on #65
@nsarno Hi. I don't understand how your project can be suitable for mobile devices without long lived refresh token...

[2017-02-26 16:22] jessecravens opened #148 "How to reference public key in knock.rb (config.token_public_key) ?"
I am trying to properly configure an app that uses auth0js v8.2.0 to use RS256. Since Auth0 is returning a token signed with RS256. I've debugged it down to here: https://github.com/jwt/ruby-jwt/issues/115

One theory that I have is that my reference in `config.token_public_key` is improper.

[code]

I've tried every which way I can think of, but this method`public_key.verify(OpenSSL::Digest.new(a

[2017-02-26 16:40] NullVoxPopuli commented on #65
@freemind- I think when you refresh, you're supposed to get a new refresh token that then has a new expiration

[2017-02-26 19:49] jessecravens commented on #148
I figured this out .. for anyone else stumped by this, here is my solution:

In secrets.yml:

[code]

In knock.rb:
[code]

[2017-02-26 19:49] #148 closed

[2017-02-26 20:03] jessecravens commented on #146
I got this working, as I expected I was passing in the token_public_key incorrectly.  https://github.com/nsarno/knock/issues/148

[2017-02-26 20:03] #146 closed

[2017-02-27 04:19] nsarno commented on #65
@freemind- what is the specificity around mobile devices?

[2017-02-27 14:02] drewcimino opened #149 "Auth0 client secrets shouldn't be Base64-decoded by default in knock.rb"
As of December 2016, Auth0 is not Base64-encoding the client secrets. Existing secrets on Auth0 are remaining that way, but newly generated ones won't be.

I propose changing the config/knock.rb template to not use `JWT.base64url_decode`, to maintain out-of-the-box functionality with Auth0. That line is specifically written for Auth0 implementations, and anyone with a Base64-encoded secret is alre

[2017-02-27 17:08] johnmosesman commented on #149
+1 Just ran into this issue.

[2017-02-28 00:54] tisba commented on #145
I was just running into the same issue too. `params[:token]` was empty.

[2017-02-28 08:04] TheFlow0360 opened #150 "No support for full namespacing?"
I tried to create all parts of my API namespaced, meaning nested modules `API::V1`. I also defined `authenticate_for` in my `API::V1::APIController` (derived from ApplicationController) like mentioned in the readme. However, whenever the TokenController is called, resolving the entity fails. The problem seems to be that `AuthTokenController` tries to deduce the entity name by truncating the `Token

[2017-02-28 10:06] tisba commented on #122
I ran into the same issue today.

I'm not sure what the best approach would be, but sometimes it would be nice to be able to get some information out on why the authentication failed. I wrote a bit of a workaround to inspect the JWT again, when authentication fails to report at least some errors like signature failures etc.

[2017-03-01 03:29] mhuggins commented on #44
I don't agree with the approach to use a 404, but that's just me.  If you want to change it, simply add the following to your `UserTokensController`:

[code]

You can change the error format/messaging/status to whatever suits your app's need.

[2017-03-02 21:00] estiens commented on #150
:+1:

[2017-03-03 07:36] GregTheGreek opened #151 "skip_before_action fails for authenticate_for entity_class"
# **Note: I have a solution**
Sorry in advance if this already exists, but i tried searching for it.
This has been plaguing my team and I for the last few days.

**I will use *user* as the entity_class**
There seems to be a bug ( or lack of documentation regarding the issue ) when trying to use
[code]

or in our case:

[code]

Regardless in both of these cases they resulted in an:

[code]

Eventua

[2017-03-07 03:57] GregTheGreek commented on #122
I'm having this issue as well...

Does anyone have a temporary fix?

[2017-03-07 03:59] johnmosesman commented on #122
@GregTheGreek See my [comment here](https://github.com/nsarno/knock/issues/146). You can basically override the method in any controller and throw the error.

[2017-03-07 20:17] GregTheGreek opened #152 "Authentication failed when passing the token back"
I'm using rails 5 API with a React & React-native clients and axios for api calls on the clients. On both clients I keep getting:

The workflow goes as follows: Make a post to `/user_token`, I'm able to successfully get a JWT token, I then make a get to `/users/:id` to retrieve their information and thats when I get the 404.

I am passing the exact token that I recieved in the header exaclty like

[2017-03-10 14:57] Sashkan opened #153 "Invalid token with Auth0 lock ?"
I'm trying to set up authentication using the Auth0 lock along with a React single page app and a Ruby on Rails API.

[code]

This code comes from the Auth0 documentation. I also configured knock on the Rails API. Still, whenever I click on the "Connect via Facebook" button, I get the following:
- my token is generated (It's a valid token)
- Request is sent, with the correct authorization header (

[2017-03-12 17:10] utilityboy commented on #148
@jessecravens thanks so much for tracking this down... hours lost here.  I'm going to work up a PR to update the initializer with some comments

[2017-03-12 23:32] johnunclesam opened #154 "Everytime, every request I have: "User Load (0.3ms) SELECT "users".* FROM "users" WHERE "users"."id" = $1 LIMIT $2 [["id", 1], ["LIMIT", 1]]""
I'm using:
[code]
so now I have everytime, every request in my log:

[code]

**Why? Everytime a query? Is token valid just with secret_key?**

[2017-03-15 15:30] dmoss18 opened #155 "`@payload['sub']` should be `@payload[:sub]`"
You are creating the token using a symbol here: https://github.com/nsarno/knock/blob/master/app/controllers/knock/auth_token_controller.rb#L22

But then accessing it using a string here:
https://github.com/nsarno/knock/blob/master/app/model/knock/auth_token.rb#L24

This leads to `User.find(nil)` when doing `auth_token.entity_for User` directly

`@payload[:sub]` will fix the issue

[2017-03-15 21:47] maxigs commented on #148
Thanks @jessecravens, just saved me from setting the keyboard on fire here ;)

[2017-03-16 10:19] johnunclesam opened #156 "Rails::Generators::Base, using github master branch with Rails 5, puma 3.8.2 in Heroku, Ruby 2.4.0, heroku-16 stack, I receive error."
Using github master branch with Rails 5, Puma 3.8.2 in Heroku, Ruby 2.4.0, heroku-16 stack, I receive error.

Using latest version on Rubygems everything is OK.

The error is something related to "Rails::Generators::Base".

[2017-03-21 00:33] brunowego commented on #150
I have a project with Rails Engines and I have an engine for auth. To solve a similar issue, I just add the code below on token controller:

[code]

[2017-03-21 08:02] TheFlow0360 commented on #150
I refactored my namespaces, so I can'T try that, but I can imagine this will work. Thanks for the suggestion.

[2017-03-21 22:07] tindron commented on #5
This issue exists purely within knock and can be reproduced without jsonapi-resources.  The line `config.eager_load_paths += Dir["#{config.root}/lib/**/"]` in `knock/engine.rb` should be replaced with `paths.add 'lib', eager_load: true`.

[2017-03-24 11:49] Sashkan commented on #148
@jessecravens, did you need to configure anything else in ```knock.rb``` ? I configured it just as you did, stil lgetting the

[code]

I used jwt.io debugger to make sure everything was fine, and it is, signature is validated, therefore I guess the problem comes from my app configuration

[2017-03-24 16:30] #153 closed

[2017-03-26 18:54] kevinelliott commented on #75
No, it is not kept up to date with latest knock.

[2017-03-27 00:45] thomas07vt opened #158 "Support for Serialization of Knock::AuthToken"
How do you feel about supporting serialization of Auth tokens?

I typically create api's that use the jsonapi.org spec (using active_model_serializers) and would like the entire app to use the spec. The **default** jwt response doesn't fit the spec:

[code]

The response payload that I think I would like is something like this:

[code]

The id being the token is strange, I know, but the jsonapi sp

[2017-03-29 06:03] clemthenem commented on #148
Thank you so much @jessecravens. Spent hours trying to figure out what the problem was...

@Sashkan make sure you change this line in the knock.rb by
`config.token_secret_signature_key = -> { Rails.application.secrets.auth0_client_secret } `
as @SiDevesh suggested.

Auth0 algorithm toggle is not working ATM so make sure that you use RS256 by default
`config.token_signature_algorithm = 'RS256'`

Sh

[2017-03-30 11:14] HLFH opened #160 "Mongoid support"
Hi @nsarno,

Just to let you know that Knock is now working and handles correctly the `DocumentNotFound` exception with the following code in `app/controllers/api/v1/user_token_controller.rb`:

[code]

I don't know if Knock needs some code to associate directly the `DocumentNotFound` exception to `:not_found`.

[2017-04-04 06:15] rayway30419 opened #161 "Multiple Entity Authentication"
I want to use `Knock` with multiple models, like `User`, `Admin`...etc.
Now I can use jwt token which get form user to pass `before_action :authenticate_admin`.
Should I custom payload with each Model class name?

---

**Update**
I customed model payload with class name and  check it after `Knock::AuthToken` initialized and called `entity_for` with `raise unless @payload['class'] == entity_class.n

[2017-04-04 14:29] HLFH commented on #160
In `knock.rb`, as said in https://github.com/nsarno/knock/issues/57, I added:

self.current_user_from_token = -> claims { User.find claims['sub'] }

then I have the following issue:

        from /home/myuser/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/knock-66b60437a5ac/lib/knock.rb:29:in `setup'

Do you have any idea @nsarno?

[2017-04-04 14:41] HLFH commented on #160
@nsarno Can you check knock with mongoid? It does not seem that it works.

I have an error:

[2017-04-10 16:05] HLFH commented on #160
Solved with custom exception. Knock works with mongoid.

[code]

[2017-04-10 16:05] #160 closed

[2017-04-10 17:58] HLFH opened #164 "MongoID current_user support"
Hi @nsarno ,

Everything is working fine with custom exception handling with MongoID and Knock.
But still, current_user does not seem to work.
I saw your comment, but for now, I don't know what to do.
https://github.com/nsarno/knock/issues/57#issuecomment-213622884

[2017-04-11 12:46] HLFH commented on #164
I got the issue _undefined method `empty?'  for #\u003cUser:_

[2017-04-11 13:29] HLFH commented on #164
Fixed.

[2017-04-11 13:29] #164 closed

[2017-04-11 13:31] Apokly commented on #130
[code]

Gemfile.lock
[code]

[2017-04-11 13:52] Apokly commented on #130
Ok this is because your Gihub releases are not synced with your rubygems releases
`Using knock 2.1.1 (was 1.4.2)`

[2017-04-14 02:33] JerryArns commented on #156
Probably not detailed enough issue, I'm using same everything and it works fine.

[2017-04-17 10:32] enterteg commented on #65
I don't get it, how can I get new fresh token on request with valid authorization bearer token? How should response look like, I need just endpoint which will give me new fresh auth token. Nothing more ;)

[2017-04-17 10:43] enterteg commented on #65
Okay if anyone has problem like I had, there is solution. Just invoke:
`token = Knock::AuthToken.new(payload: { sub: current_user.id }).token`

with `before_action :authenticate_user` to set current_user.

Hope this helps, for me it was hard to find this method, so I think it can help someone.

[2017-04-17 16:45] stephenhowells commented on #65
@enterteg can you post a sample controller to exhibit how this works in context? I'm very interested in how you've implemented this. Thanks.

[2017-04-17 19:00] enterteg commented on #65
Sure, I don't know if I did it properly, if I did something wrong, please correct me ;)

[code]

[2017-04-17 23:23] PhilibertDugas opened #165 "Example with Firebase integration"
Firebase is a popular solution for mobile apps to handle authentication. In my case I found myself using Firebase for authentication + created my backend using a Rails API.

Firebase offers solution for JWT, went through the steps and it works. I think it would be interesting giving some sort of README / or default value in the config for Firebase (just like for Auth0)
https://firebase.google.com/

[2017-04-18 15:11] aymericbouzy commented on #147
I'm doing something very similar, except I'm passing the `Authorization: Bearer <token>` header instead of passing the token in the parameters.
It would be nice if Knock had an api method that could be used this way :
[code]
that way all the complexity would be completely hidden away for the developer, and there would be full code reuse.

[2017-04-20 11:38] vertaxe commented on #153
@Sashkan Did you find a fix?

[2017-05-08 14:07] enterteg commented on #154
I wonder the same. +1

[2017-05-09 09:16] krunalsha opened #167 "How to access token in ApplicationController?"
We are integrating auth0.

From frontend we are sending token to backend. I want to access token in ApplicationController.

Can someone let me know, how to access that token?

[2017-05-10 02:04] BigChief45 commented on #158
If I am not mistaken, the format that you are trying to achieve is actually for [resource objects](http://jsonapi.org/format/#document-resource-objects). JSON API doesn't really say much about how token related responses should be returned.

However, I think you can modify the Knock response by customizing the `Knock::AuthTokenController`'s `create` method.

[2017-05-10 02:20] BigChief45 commented on #121
You probably need to configure it in `rails_helper.rb`:

[code]

[2017-05-10 20:30] dannytatom commented on #153
Also getting this, was it ever solved @Sashkan?

[2017-05-12 17:04] Carlows commented on #92
@bmcdaniel11 did you find a proper way to do what you described?

[2017-05-12 17:09] Carlows commented on #92
Nevermind, just realized your PR was merged https://github.com/nsarno/knock/pull/93

However, you do you get the token payload in a request?

[2017-05-13 07:52] waleedarshad opened #168 "Devise support"

[2017-05-13 15:08] brunowego commented on #147
Only need send with the URL the token.

[2017-05-13 15:08] #147 closed

[2017-05-19 02:17] BigChief45 commented on #168
There isn't really any point on using Devise if you are going to use the Knock gem.

[2017-05-19 04:54] waleedarshad commented on #168
Who is going to handle all logic regarding user confirmation, resent password token, forget password, change password.... these all logic we need to write ourself which does not seems obvious solution.

Would you guide me?

[2017-05-20 04:55] bianjingbulb opened #169 "When I'm using namespace, I got a RoutingError error."
I'm using a namespace like below. When I access `http://localhost:3000/api/v1/user_token`,
I got a RoutingError error like this. What I doing wrong.
[code]

Here is my code. ⬇︎
**routes.rb**
[code]
**users_token_controller.rb**
[code]

**application_controller.rb**
[code]

[2017-05-20 10:46] bianjingbulb commented on #169
It seems like a error about constant.

[2017-05-20 11:02] bianjingbulb commented on #169
Resolved.
http://stackoverflow.com/questions/44082142/routingerror-error-about-knock

[2017-05-20 11:02] #169 closed

[2017-05-25 09:54] requnix commented on #154
If I understand it correctly perhaps Knock calls the `current_user` method it defines to ensure the user still exists?

[2017-05-26 10:53] #167 closed

[2017-05-26 12:00] krunalsha commented on #154
I am facing the same issue. It executes following query for every request

`SELECT  "users".* FROM "users" WHERE "users"."email" = $1 LIMIT $2`

We have separate front / back end application. We are integrating auth0 in our application.

For back authentication we are using knock gem.

I have added following code in my user.rb

[code]
Every request comes to this method and each time its validating

[2017-05-26 16:23] fightingtheboss commented on #148
Worth noting that #124 does this same thing, but via `JSON::JWT`. Introduces a new dependency to knock, but it works transparently, rather than having to generate a new cert just to interpret and decode the public key.

[2017-05-27 15:22] fightingtheboss commented on #156
I encountered this error on Heroku as well, running pretty much the same stack. Turns out that for generators you need to explicitly `require rails/generators`. This goes way back to Rails 3.x apparently. Not sure why this behaviour doesn't seem consistent, but adding that require to the top of the generator files does indeed fix this issue on Heroku.

References:
- https://github.com/plataformate

[2017-06-02 20:28] johnmosesman commented on #122
bump?

[2017-06-05 01:38] BigChief45 commented on #122
Is Knock still being maintained?

[2017-06-10 07:45] JulianCurrie commented on #153
@Sashkan Any fix for this? It would definitely help the community if you posted the fix before closing an issue.

[2017-06-10 13:43] zangab commented on #168
there are plenty of tutorials out there which focus on confirmation / password-reset / etc ... google it

[2017-06-10 18:47] JerryArns commented on #147
@brunowego Did you still use this method? I am looking into doing the same.

[2017-06-10 19:32] brunowego commented on #147
@JerryArns yep, for me works pretty well.

[2017-06-11 17:46] Jcambass opened #172 "Provide Auth0 Guide"
There isn't currently an Auth0 Guide for Knock since Auth0 removed its guides on knock and focused on "raw" jwt. It would be really helpful to bring a guide to this repo. I'm currently struggling myself with setting up the knock with Auth0.

[2017-06-12 03:22] JerryArns commented on #147
it doesnt work as token is just a string and token.payload['sub'] returns undefined method payload

[2017-06-12 11:54] brunowego commented on #147
I am using Ember at frontend, I have tested Angular before, both works.

Example of request:

[code]

[2017-06-20 21:56] vikonava commented on #168
I agree it would be way better if there is devise support for this gem. Why reinvent the wheel? thats the whole purpose of using gems. So I don't think making the confirmation/reset/etc manually is a valid answer for this request. It is not necessary but it would be a nice feature to have.

[2017-06-21 14:01] durfee commented on #168
It doesn't look like it's something the contributors are going to do (see: https://github.com/nsarno/knock/issues/140#issuecomment-279282913). If you're looking for a guide, [Michael Hartl's Rails Tutorial](https://www.railstutorial.org/book) goes over this stuff pretty extensively (passwords, confirmations, bcrypt, etc). After you get the hang of it, it's pretty painless to set up.

[2017-06-22 13:51] anicholson44 opened #173 "Does knock work for traditional (not API-only) Rails applications?"
I have a Rails 4 application with some API endpoints I want to secure. I see that knock is 'tailored for Rails API mode' but does that mean it won't work for applications not running in API mode?

Thanks!

[2017-06-23 01:34] BigChief45 commented on #173
I think it should work fine in non API mode applications. But you should then think carefully why you want or need to implement a JWT solution.

[2017-06-29 15:24] kjgarza commented on #161
I want to achieve this same thing. But it's not clear to me how to achieve it.

[2017-06-30 05:18] kiesia opened #174 "Test example no longer working"
I just upgraded to Rails 5.1.2 (from 5.0.1) and discovered that it's no longer possible to pass in `headers: {}` into get/patch/post/etc request test helpers. So the example in the README:

[code]
 no longer works. I did a bit of digging and found a couple of solutions [here](https://github.com/rspec/rspec-rails/issues/1655). I ended up reimplementing my tests like this:

[code]
I'm happy to submi

[2017-06-30 09:24] charlesharvey commented on #161
def to_token_payload
	    return {sub: self.id, class: 'User' }
	end
	def self.from_token_payload payload
		self.find payload["sub"] if payload["class"] && payload["class"] == 'User'
	end

@kjgarza This is what i used in my models to allow authentication with multiple models.

[2017-07-03 04:56] mikeeus commented on #148
Thanks @jessecravens! This was super frustrating, you're a life saver!

[2017-07-03 16:10] krsyoung commented on #174
Hi @kiesia!  I'm making use of headers with 5.1.2 (I need to look a little closer but my tests are still working) without issue.

Maybe this is a Rspec vs Minitest difference?  I'm using the code referenced above but with Minitest:

[code]

[2017-07-04 16:13] alfiehub commented on #134
This should be added in my opinion

[2017-07-05 22:50] kiesia commented on #174
Perhaps! I'll build a fresh rails install in the weekend and look into it further.

[2017-07-09 14:34] Nick-the-BinaryTree opened #175 "How to use with Administrate Gem?"
Hi, I'm using the [Administrate Gem](https://github.com/thoughtbot/administrate) to create a simple admin panel that lives behind the '/admin' url.

I've successfully gotten Knock to reject unauthenticated requests to '/admin' addresses, but now I'm faced with the issue of: "How do I actually authenticate?"

Since it's not like I'm making API requests where I can just send the JWT in the header, i

[2017-07-10 19:05] keitarobr opened #176 "Role support"
Hi,

which would be the best approach to implement roles support with knock? Basically the user in my system can have multiple roles, while all being the same class (User).

[2017-07-15 06:56] modeio opened #177 "Auth0 IncorrectAlgorithm error"
I'm trying to get Auth0 integrated with Knock.  I can generate a token correctly from Auth0, but when I try to verify the token I get:

`JWT::IncorrectAlgorithm: Expected a different algorithm`

I've tried changing:

`config.token_signature_algorithm = 'HS256'` which had no effect

[2017-07-15 07:10] #177 closed

[2017-07-20 10:23] nowakov opened #178 "Logging out"
First thing, thanks for a great library. It works really well for us. I'm wondering, though, what's your suggested solution for logging out? I guess I can just remove the token on the front end side, but isn't there a way to send "expire now" info, so the token won't be valid anymore?

Cheers!

[2017-07-25 09:27] kiesia commented on #174
Sorry for the slow update! It does appear to be a difference with rspec-rails, specifically with controller tests.

This doesn't work as controller tests include `ActionController::TestCase::Behavior`, which doesn't handle `headers:` in requests. Request specs work fine as they are including `ActionDispatch::IntegrationTest::Behavior` similar to your tests.

I'm happy to add an example rspec contr

[2017-07-26 15:34] ntbnnt commented on #148
Thanks @jessecravens! Your solution saved me a ton of headache!

[2017-08-02 13:58] krsyoung commented on #176
Hey @keitarobr, I have roles in my application (User has an enum 'role').  I think it is independent of the authentication framework being used (knock just says they are who they say they are, not what they can do).

For the authorization aspect I'm using a gem called [pundit](https://github.com/elabs/pundit)

[2017-08-02 14:20] krsyoung commented on #178
@nowakov that is what I have been doing for now (just removing the token from the front end).  Any chance you ended up with something different?

Does seem like a valuable feature for the library.

[2017-08-02 14:48] krsyoung opened #179 "Implementing "become user""
Curious if anybody has implemented a "become user" feature (or this is even possible with JWT)?  It is very helpful for support purposes to see the exact screens of a given user's account.

I've done this before with [devise](https://github.com/plataformatec/devise/wiki/How-To:-Sign-in-as-another-user-if-you-are-an-admin).  Anybody tried the same with knock / have ideas of how to do it?

My first

[2017-08-04 19:33] chandlervdw commented on #148
@Sashkan did you make progress?  I'm stuck with the same piece, though this does give me back the PEM I need...

[2017-08-04 19:50] chandlervdw commented on #135
@AugustoPedraza yes, please elaborate. I'm stumped here, too... I am currently getting my JWT via:
[code]

[2017-08-06 12:02] peter-ohara commented on #165
Could you please outline the steps here?

[2017-08-07 18:36] lshimokawa commented on #178
Logout is not supported in a stateless token library like knock.
Check this similar issue in Devise: https://github.com/plataformatec/devise/issues/3031#issuecomment-125678869

You'll have to save the valid tokens in database, check before every request server-side, and delete the token server-side in logout.

[2017-08-08 12:14] poulet42 opened #181 "Knock::AuthTokenController and auth parameter validation"
To reproduce :
 - Setup Knock
 - Generate a token controller `rails generate knock:token_controller XXX`
 - Send a post request with a string parameter called  auth to the generated endpoint

Expected response : Status 4XX
-> Bad parameters = Client issue

Actual response : Status 500 - Internal Server Error

[2017-08-08 21:45] spaquet commented on #181
Just a quick question. You hcave XXX after token_controller. Did you change it by the model you plan to use (User or else)?

[2017-08-09 01:47] poulet42 commented on #181
@spaquet Yes, I'm using my User model

[2017-08-12 06:05] matthewl20 opened #182 "NameError: `@_current_account/user' is not allowed as an instance variable name"
Hi!
#<NameError: `@_current_account/user' is not allowed as an instance variable name>

Ruby 2.3.3
Rails 5.1.3 (API mode)
knock 2.1.1

I appreciate all of your work on this gem.  I ran into an issue when I namespaced my User model.  It looks like when `authenticate_for` is called with a namespaced `entity class` (e.g. Account::User) it uses underscore to set the `getter_name` to `current_account_u

[2017-08-13 04:10] krsyoung commented on #179
So, I ended up implementing this via a monkey patch (eww, I know).   Basically I require a user to have a role of `superadmin`, at which point I'll allow authentication to happen against their account but then the entity that is loaded is the target user's account.  Seems to work well so far.

Here is the code I used for future reference:

[code]

[code]

[2017-08-13 04:10] #179 closed

[2017-08-14 20:02] ernandejr opened #183 "login without email"
My application logs in with username, how can I generate the token with username instead of email?

[2017-08-16 22:27] romanos commented on #148
How is this not part of the core README? It's a breaking change from prior behavior with Auth0...

[2017-08-18 21:59] bluwave commented on #101
I am unable to get `to_token_payload` to work.  I've got this working so I am seeing `jwt` in response, but can't get id to show up to make the second request as you state above
[code]

Here is my user model
[code]

I have tried this without `from_token_request` and `from_token_payload` as well and same result.  I'm new to rails so i may be missing something.  I'm using `active_model_serializers`,

[2017-08-20 02:17] cs0511 commented on #152
Same issue as yours.

If you use `devise`, you should remove the method `current_user`, [ref](https://github.com/nsarno/knock/issues/70)

[code]

[2017-08-20 05:23] bluwave commented on #101
This issue https://github.com/nsarno/knock/issues/158 helped me figure a solution out.

[2017-08-28 21:05] alif-bae commented on #176
Hi @keitarobr i've had success in adding roles using [rolify](https://github.com/RolifyCommunity/rolify ) along with [pundit](https://github.com/elabs/pundit) on top (as @krsyoung mentioned) of it all to manage policies for specific roles and what not. Knock + Rolify + Pundit end up being a surprisingly well fitting authentication/authorization system.

[2017-08-29 15:33] thalesfp commented on #183
You can modify the default behavior implementing within your entity model a class method from_token_request that takes the request in argument.

[code]

[2017-09-10 20:31] scudco commented on #44
@nsarno can you link to anything about 404 for an authentication POST being best practice?

Unauthorized access to a resource via GET resulting in a 404 makes sense (exactly as github does), but a 404 for a POST does not seem correct. A 404 would actually mean that there is no such resource at the endpoint (i.e., that `/user-token` is not a path the server understands). That resource does exist, b

[2017-09-14 00:58] ngty commented on #156
Abit late to this. Anyway, i was bitten by this as well when deploying to heroku only. IMO, it doesn't make sense to `require "rails/generators"`, since we don't need generators, especially in production. This is what i did eventually https://github.com/ngty/knock/pull/1/commits/97fb32f59b2027c808964b875be2fff22400da1d

[2017-09-24 21:31] aust1nz commented on #65
For those that stumble on this thread in the future, here's another way to send back a token on every request (skip this action on controllers that don't need to be authenticated)

[code]

If you haven't set up a User.to_token_payload method, you can just use  `payload: { sub: current_user.id }` inside `Knock::AuthToken.new` to return a default token.

[2017-09-26 18:59] bernicetann opened #187 "Extracting payload from json web token"
So I'm trying to just grab the payload by doing this from the rails console:
`original_jwt = Knock::AuthToken.new token: "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1MDY1MzcwNjMsImF1ZCI6ZmFsc2UsInVzZXJfaWQiOjMyfQ.-DOTPr-AVmNVS_dH3NMUXhJgnYg3RdeyvZ7_1VTU4RY"
 => #<Knock::AuthToken:0x007f920c3ad888 @payload={"exp"=>1506537063, "aud"=>false, "user_id"=>32}, @token="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUz

[2017-10-11 09:30] mottalrd commented on #135
For me the problem was that my code was working under the assumption of using HS256 for the JsonWebToken signature algorithm while on the Auth0 Client advanced settings => OAuth I had specified RS256. I am using the JWT gem for the signature.

My 2 cents :D

[2017-10-20 15:20] jake commented on #65
I was able to get @aust1nz's auto refreshing code working, but with a few tweaks. I'm checking if the request includes the `Authorization: Bearer` Header, and if the token was valid, before refreshing the token. this way, routes that don't require authentication will still work as normal. I then continue to call `before_action :authenticate_user` for any specific routes that require authorization.

[2017-11-04 22:00] valleyman01 opened #188 "Not sending data when restarting browser"
Hello,
My token has 10 days validity but when I restart the browser it just doesn't send the data. I mean the return object comes with a 200 code OK but with data: null

It's so strange because it does send the data after login but not if I close and restart my browser.

By the way I have noticed the last part of JWT token changes if login again, is it normal ?

Can you please help ?

Thanks

[2017-11-09 15:35] mhluska opened #189 "Issue JWT token on user create"
I would like to send a JWT token when the user signs up so that they don't have to login again after signing up. Should this happen in two requests? One to users_controller#create then one to user_token_controller#create? Is there a security risk with not forcing the user to explicitly login after account creation? I notice some apps do this, some apps don't.

[2017-11-10 04:12] przbadu commented on #183
You might also need to verride strong parameters:

`app/controllers/user_token_controller.rb`

[code]

`app/models/user.rb`

[code]

[2017-11-10 04:16] przbadu opened #190 "raise Knock.not_found_exception_class, not able to handle it"
I want to respond with `unauthorized` response for user not found or not a valid user and I have something like this:

[code]

But this never works, I am always getting 404 error without any content. I found knock:applicaiton controller is responding `head :not_found`, is that causing problem?

[2017-11-11 10:58] drs-m opened #191 "make your readme more verbose"
You should really consider making your readme more verbose by explicitly stating that you mean a ruby hash object {} and not a hash generated by a hash function when implementing to_token_payload on your own.

[2017-11-13 02:20] mikestone14 commented on #190
You should be able to define a method `unauthorized_entity` to handle the response:

[code]

[2017-11-13 04:49] przbadu commented on #190
@mikestone14 but it still giving `404` and not json response:

[code]

[code]

I even put that debugger in that method and it is not triggering.

My Knock version is: `knock-2.1.1`

[2017-11-15 02:56] joshleichtung commented on #189
Making two requests is the way I am doing it. It would be great to have a method to generate a token for a user (maybe there is one I don't know about?). That way, with user registration, you can create a user and return their details as json, plus return the jwt.

@mhluska There are a number of reasons not to log a user in upon creation - verifying they have access to the email they listed would

[2017-11-16 22:00] nicnilov commented on #70
In my case I have to accept API requests using the same controllers from both the browser and native apps. As controllers' classes are cached, after `current_user` gets replaced by Knock as per @amiuhle's solution, subsequent requests coming from the browser do not have access to Devise's `current_user` implementation anymore. So here is my take.

    #####
    # api/base_controller.rb
    #####

[2017-11-22 05:45] GregTheGreek opened #193 "Certain routes in the same controller always return 401"
I'm baffled.

I have three custom routes in the same controller, two of them work and one throws a 401 before I can even get to it. I'm using the same JWT token in my header. I can use that same token to access other routes that are protected. But for some reason, this controller won't allow my third route to work.

So I added another route to that controller... Still doesn't work.

Has anyone enc

[2017-11-22 21:49] krsyoung commented on #187
Hey @bernicetann, any chance you got this working?

I just took a quick look and it seems like it works for me as you expected?

[code]

[2017-11-23 01:04] renemendoza commented on #44
what about customizing the JSON response for invalid credentials? is there an official way or should we go the way described by @mhuggins ?

[2017-11-25 23:41] johnunclesam opened #194 "How to use this gem with graphql gem?"
How to use this gem with graphql gem?

[2017-11-28 10:54] eddy-k opened #195 "When no token is passed, Knock generates a new token by itself"
How to reproduce:

**Do not** use ActiveRecord for the user model
Add `include Knock::Authenticable` to a controller

send request to that controller without a token

expected result:
I should get a not authorized request

actual result:
I get that the current_user is nil and respond with 'Internal server error'

[2017-11-30 15:14] nicholasshirley commented on #140
Hi all, I gave this a try. There are still a lot of rough edges and a lot of functionality that's missing, but if anyone is interested in contributing or just has ideas, I would be very happy to hear them!

Originally I was going to break everything out into separate gems, but I decided instead to do very basic email auth and try to make it very easy to extend. Here is [the repo](https://github.co

[2017-12-04 14:30] TomGroombridge commented on #148
@jessecravens YOU ARE A HERO!!!!

[2017-12-05 04:20] mhluska commented on #65
What's not clear to me is how to handle the case where the user is inactive for more than 24 hours. Sliding sessions don't prevent that scenario. At that point I would like the front-end code to clear the token and log the user out but it's tricky to know if the front-end is getting 401 Unauthorized because of an expired token or because the user is actually trying to access a forbidden resource.

[2017-12-07 22:52] taschetto commented on #122
@BigChief45 I don't think so...

[2017-12-08 14:17] swilkinson1 commented on #144
You should be able to do this with a Rails API server and knock if you set the API to use the 'RS256' signing algorithm.  Then within the knock config you only need to supply the token audience and the token public key, and aren't dependent on multiple client secrets, since you are now using an asymmetric signing algorithm.  #148 shows how can load in the public key in the config file.

[2017-12-08 20:41] Amnesthesia commented on #172
same af

[2017-12-11 13:14] renemendoza commented on #49
Is it possible to have both types of tokens? E.a. give some users permanent tokens and give some other users regular valid only for 24 hours tokens?

[2017-12-13 03:34] hectorsq commented on #173
It is working for me. I am migrating a traditional Rails app from devise to knock, however I have to live with both authentication mechanisms for a while. My legacy AngularJS client apps use devise while my new Ember client apps use knock.

My legacy controllers inherit from ApplicationController which has the `before_filter :authenticate_user!` statement that fires devise authentication.

I creat

[2017-12-15 02:44] ethier commented on #182
@matthewl20 FYI, this is address in master:

  def authenticate_for entity_class
    getter_name = "current_#{entity_class.to_s.parameterize.underscore}"
    define_current_entity_getter(entity_class, getter_name)
    public_send(getter_name)
  end

[2017-12-15 03:20] matthewl20 commented on #182
I did see that shortly after I submitted the issue.  Thanks for following up!

Matthew

[2017-12-15 19:16] JoshCheek commented on #195
+1

The problem is that it lazily creates the `current_user` method lazily when the token is passed. This is done via `method_missing`. If it is called without the token, it returns nil. If it is called with the token, it defines the method. The second time you call the method, then, it hits the newly defined `current_user`, instead of `method_missing`. This implementation of the method doesn't re

[2017-12-19 14:45] arjunmenon opened #197 "Time sensitive token"
Hey
Can you tell me the logic to add a expiry period for the tokens, like Facebook/Google Api's have?
This would be a good security feature.

[2017-12-21 04:02] laaksomavrick commented on #138
Stumbled on this issue today. Same error, but I was calling `:authenticate_user!` instead of `:authenticate_user`. Be wary, folks here from googling!

[2017-12-25 11:32] duykhoa commented on #70
@amiuhle Thanks for saving so many life. I almost think of rewriting all the functions of devise 😓

[2017-12-29 10:48] jondoe1337 commented on #181
Can confirm this. I would expect a 403 to be returned.

[2017-12-29 17:27] jhonatanpetronilho commented on #120
Not work  for me.

[2017-12-29 19:37] FunkyloverOne commented on #11
@muZk it seems that you have mixed thing up here in this line:
[code]
You should be using `app_acces_token` for `Koala::Facebook::API.new` and given regular user's `acces_token` for `debug_token` method, like this:
[code]

[2018-01-10 20:28] dnorthrupva commented on #197
Are you looking for something different than
`  config.token_lifetime = 30.days`
within knock.rb?

[2018-01-10 20:32] dnorthrupva commented on #189
I am also interested in this. I would love a code sample to show some proper flows. I hear this gem mentioned a lot but I am curious as to why I can't find much in the way of documentation.

[2018-01-11 20:00] zangab commented on #197
@arjunmenon: no, knock does not provide this kinds of tokens. knock generates a token thats valid for a period of time (`config.token_lifetime`) and then its invalid -> user has to log in again.
if you need this kind of service, then [devise](https://github.com/plataformatec/devise) might be the thing you're looking for.

[2018-01-11 20:07] zangab commented on #193
how about some code? 😁

[2018-01-11 20:18] zangab commented on #190
i did it like this and it works like a charm.
`class UserTokenController < Knock::AuthTokenController
    private

    def authenticate
      unless entity.present? && entity.authenticate(auth_params[:password])
        raise Knock.not_found_exception_class
      end

      if entity.confirmed_at.nil?
        render json: { error: 'not_confirmed' }, status: 401
      end
    end
  end`

[2018-01-11 20:35] zangab commented on #188
does the browser know the token? do u create a session?
and if you're building a browser application (and no rest api), i recommend using sessions.

[2018-01-21 21:51] Carlows commented on #172
I'm in the same position. Have you guys found any pointers?

[2018-01-22 06:58] christopherstyles commented on #194
You can include the `Knock::Authenticable` module in your graphql_controller just as you would any other controller. For example:

[code]

For running queries in [Graphiql](https://github.com/graphql/graphiql), I’m currently using https://github.com/skevy/graphiql-app so that I can add the Bearer token to an Authentication header (adding custom request headers isn’t currently supported in the main

[2018-01-28 13:09] geoffw8 commented on #189
+1 on this

I'm struggling to find anything suggesting how this might done or what I should do instead. In terms of UX I'd prefer to not have the user have to enter the details again to sign in.

Anyone have any ideas?

[2018-01-30 07:34] Amnesthesia commented on #172
@carlows Yes! And it's a bit tricky. I had to override some Knock methods in the BaseController to be able to catch the exception thrown, usually from decoding the JWT. First of all you've got to set your audience properly when authenticating against Auth0, and ensure that your API is using the client ID and secret for the API with that defined audience, then double-check what algorithm you're exp

[2018-01-31 21:55] mhluska commented on #147
How did you end up instructing Ember to send the token?

[2018-02-04 00:37] hanchennz commented on #189
This is hacky but you try to reproduce the same steps that knock does to generate the token. I looked through the source code at [auth_token_controller.rb#7](https://github.com/nsarno/knock/blob/master/app/controllers/knock/auth_token_controller.rb#L7).

[code]

Since it's a private method, you can just duplicate it, and new up an `AuthToken` after you create your user.

[code]

Some official supp

[2018-02-06 04:04] BKSpurgeon commented on #168
I have an existing rails app. Now the time has come to add JSON API features to this app.

I am currently using devise.

Do you have any ideas on how I can manage this using rails 5?

advise much appreciated.

chrs

[2018-02-06 17:47] johnunclesam commented on #194
And what if I have some query for unauthenticated people?

`before_action :authenticate` catch all, right?

[2018-02-07 05:16] BKSpurgeon commented on #174
Hi all

I seem to be having the exact same issue, except I couldn't get it working.

* I'm using Rspec on
* Rails ~> 5.0 :

It responds with a forbidden access error: `expected the response to have a success status code (2xx) but it was 401`. Any advice much appreciated. Here it is below.

[code]

[2018-02-07 10:56] rjurado01 opened #200 "Pass 'request' as parameter to 'to_token_payload' method"
It would be posible to pass `request` as parameter to `to_token_payload` method?

I need to add request IP and UserAgent to token payload.

[2018-02-08 00:17] BKSpurgeon opened #201 "Couldn't get test example to work - Rspec, rails 5.0"
Hi all,

Wondering if you have any advice: There was a similar post before on getting the tests working. But I couldn't get it working:

* I'm using Rspec on
* Rails ~> 5.0 :

It responds with a forbidden access error: `expected the response to have a success status code (2xx) but it was 401`. Any advice much appreciated. Here it is below.

[code]

It's failing here:

[code]

My question is that w

[2018-02-09 00:55] #201 closed

[2018-02-09 01:22] cidylle commented on #172
@Amnesthesia Any time for those code samples? Would be much appreciated. Running into the same issues trying to use Auth0 with Knock.

[2018-02-12 15:00] hacktorious opened #203 "Auth Test Fails"
My auth test (Minitest) is failing with the following message:

Error:
ItemsControllerTest#test_responds_successfully:
NameError: undefined local variable or method `secured_resources_url' for #<ItemsControllerTest:0x007fbf1a4038b0>
    test/controllers/items_controller_test.rb:14:in `block in <class:ItemsControllerTest>'

`    def authenticated_header
      token = Knock::AuthToken.new(payload: {

[2018-02-13 02:52] hacktorious opened #204 "Syntax Error Caused by Generator"
Running the following command causes a random comma to be inserted in the migration file for an already existing user migration.  This in turn causes the migration to fail.

rails generate knock:token_controller user

`class CreateUsers < ActiveRecord::Migration[5.0]
  def change
    create_table :users do |t|
      t.string :f_name
      t.string :l_name
      t.string, :email

[2018-02-15 00:33] sterrym commented on #194
@christopherstyles This is totally great. One question - I need to have some GraphQL mutations (createUser, signIn) skip authentication. I'm wondering if it would be better to:
1. move the knock authentication success into the GraphQL context or
2. if it's possible to skip the :authenticate filter within a specific mutation/type somehow?

If you have thoughts on this, I would dearly love to hear t

[2018-02-16 14:37] a2p0 opened #205 "Compatibility break with rails 5.2 rc1"
Since rails 5.2 doesn't generate secret.yml but credentials.yml.enc on rails new command, knock is not able to generate token anymore.

[code]

Secret generation is no longer available after app initialization
[code]
Tried to configure knock initializer
[code]

Patched with manually add secrets.yml to the app/config folder.
[code]

#### Is there a way to configure knock with credentials.yml.enc ?

[2018-02-19 05:48] mkhanal commented on #205
You need to use
config.token_secret_signature_key = -> { Rails.application.credentials.read }

[2018-02-19 19:03] a2p0 commented on #205
Yes it works. Thanks @mkhanal!
It seems that I had to investigate one step further...

[2018-02-21 16:37] hacktorious commented on #204
Decided to use a different implementation since I couldn't get this to work.

[2018-02-21 16:37] #204 closed

[2018-02-21 16:38] hacktorious commented on #203
Decided to use a different implementation since I couldn't get this to work.

[2018-02-21 16:38] #203 closed

[2018-02-23 07:58] catalinux commented on #65
@mhluska : can you tell us how you managed to do it?

Two notes
- One: 401 is for not being authenticated. 403 is for forbidden. See http://www.dirv.me/blog/2011/07/18/understanding-403-forbidden/index.html
- Two: For jwt you can have to variables: ttl and refresh_ttl. First you could use it for time to be auth, and the second for being able to refresh. So: ttl is shor term: 5 minutes for example.

[2018-02-23 19:26] mhluska commented on #65
@catalinux at the time of writing I was using a React frontend and worked around this by storing a timestamp in localstorage. I've since switched to Ember and it seems [ember-simple-auth-token](https://github.com/jpadilla/ember-simple-auth-token) handles that complexity.

[2018-03-03 05:45] LukasZvikas opened #207 "jwtToken works, however Unauthorized message on the backend never changes"
For some reason I am always getting Unauthorized on the backend server, but still can access the data. I'm using passport-jwt, passport-local strategies. Also, as soon as I log in, it always says unauthorized firstly in the network log, however after I refresh the page, the information appears, so there is clearly a delay in accessing the data. I'm not sure how this can happen with the backend ser

[2018-03-05 23:37] lordplagus02 commented on #152
@cs0511 HOURS. I spent HOURS on this error, I wanted to cry, thank you for this solution!

[2018-03-06 06:36] stoplion commented on #189
+1

[2018-03-13 08:37] JiProchazka opened #208 "Getting "Can't verify CSRF token authenticity" with Rails api_only project"
Hi,

I'm trying to use Knock with Rails api_only app.

I have started a new project with command `rails new backend --api` (I started over twice to be sure, 5.2.0.rc1).
I have add this code:

[code]
[code]
[code]
[code]
When I run `curl -v http://localhost:3000/tests/index` I get this, which is ok:
[code]
But when I want to ask for the token with this: `curl --data "auth[email]=myemail@gmail.com&a

[2018-03-13 19:31] JiProchazka commented on #208
Ok, I just tried with Rails 5.1.4 and it is working. So it is something with 5.2.0.rc1..

[2018-03-14 13:34] ledermann commented on #208
`Knock::AuthTokenController` is [derived](/nsarno/knock/blob/v2.1.1/app/controllers/knock/application_controller.rb#L2) from `ActionController::Base`. In Rails 5.2, `protect_from_forgery` is included in `ActionController::Base` (https://github.com/rails/rails/commit/ec4a836919c021c0a5cf9ebeebb4db5e02104a55)

Your example can be fixed this way:
[code]
It seems to me that #184 should fix it directly

[2018-03-14 18:00] JiProchazka commented on #208
I had to use the fix stated in #205 , but it worked. Thanks!

[2018-03-14 18:00] #208 closed

[2018-03-19 12:11] FunkyloverOne commented on #175
Hey! I had a similar issue with RailsAdmin.
To overcome it I've kinda implemented custom http basic session based authentication, using sources of sorcery gem, only for admin controller. This is what I've ended up with:
[code]

Use `require_login_from_http_basic` callback for http basic authentication.
PS. logout doesn't work very well on Chrome, but it works flawlessly on Firefox.

[2018-03-20 17:43] aksiitd opened #209 "LoadError: Unable to autoload constant VERSION"
I am using Knock, Paperclip and Aws S3 in one of my app. There is some weird conflict happening when i am trying to use S3 as paperclip storage. Getting the following error

LoadError: Unable to autoload constant VERSION, expected RVM_PATH/gems/knock-2.1.1/lib/knock/version.rb to define it

The same error is coming if you fire up the rails console and try to access VERSION

[2018-03-31 14:04] #190 closed

[2018-04-25 14:32] ghost opened #211 "What about using cookies for token storage instead?"
What about using cookies for token storage instead?

Is `knock` compliant?

[2018-04-25 19:26] adamgf commented on #205
It is really lame that we developers have to do this kind of stuff just to get this stuff to work.

[2018-04-27 20:27] d-Pixie opened #212 "No error raised when key is missing"
Just started a new Rails (5.2) API app using Knock and copied some setup from an existing project. Couldn't get it to work, I got a `TypeError (no implicit conversion of nil into String):` from `jwt (1.5.6) lib/jwt.rb:80:in `digest'`.

When my brain caught up I realised that I had not set a `secret_key_base` in `config/secrets.yml`. Adding one solved the problem but it would have been even better

[2018-05-06 12:53] Prutya commented on #205
+1 For
[code]
But make sure you are adding this to `config/initializers/knock.rb`, and not to `config/application.rb` :)

[2018-05-07 16:32] Rheisen opened #213 "Can't customize error messages in self.from_token_request"
Currently it seems you can only return nothing or a generic knock error, but nothing about why the request actually failed.

I'd like to be able to include error messages for when a token is requested, but a user isn't activated for example.

Or since I authenticate by phone number or email an error message when the identifier doesn't find a record in the database.

[2018-05-09 05:31] stevepm commented on #205
I think what you actually want is `Rails.application.credentials.fetch(:secret_key_base)`

[2018-05-10 08:10] BenjaminDigeon commented on #145
Same problem too

[2018-05-10 18:53] christiangewalt opened #214 "Track successful and not successful login & disabled users"
I would like to write some informations to the database like:
- last successful login date
- last unsuccessful login attempt
- number of unsuccessful login attempt

What is the best way to achieve this?

And second I would like to mark users as disabled in the database and throw an exception on login.

[2018-05-17 22:14] obelich opened #216 "undefined method `handle_attr' for Knock:Module"
hiyas i have recent update my production app and i get this error

[code]
In development it work perfect but in production it send this error can i get a help plz

[2018-05-18 04:17] przbadu commented on #178
I agree we can't do session expiration in stateless token, but I think it could be a good idea to set `exp` payload to past time, that way we can invalidate expired token.

[2018-07-02 16:08] michaelunltd commented on #57
@nsarno We're using knock with mongoid. It still does raising `ActiveRecord::RecordNotFound`, i worked it around by overriding `authenticate` private method in `Knock::AuthTokenController` and raise a custom exception.

eg.

[code]

[2018-07-05 10:53] qwexvf commented on #205
@stevepm 's method worked with rails 5.2.
Thanks!

[2018-07-13 20:35] suyesh opened #219 "Is this gem still good to use? Dont see any movements in github"

[2018-07-15 11:02] kevinhughes27 opened #220 "Usage with Devise"
Hello! First I want to thank you for this gem. It's been great to work with so far.

I'm using it in a larger project that has a few clients including a standard Rails web client. The project already uses Devise and now needs JWT for a new frontend client. I ran into some issues because Devise adds a `current_user` method to every controller. When knock tries to authenticate it checks if this meth

[2018-07-16 14:32] eablamb commented on #220
I've had to do something similar, but for Sorcery:

[code]

Maybe a couple of config variables, one to define Knock's `current_user` method and another to allow Knock to override the underlying authentication library's `current_user` method, would be helpful.

[2018-07-27 14:54] calebuharrison commented on #219
Yes, this gem is excellent. Make sure you check out #205 if you're working with Rails 5.2.

[2018-07-27 15:33] suyesh commented on #219
Thank You

[2018-07-27 15:33] #219 closed

[2018-07-30 05:07] arturhaddad commented on #161
I think there should be a more elegant way of implementing such a basic functionality.
@charlesharvey workaround did the job (thanks by the way), i just made some syntax improvement:

[code]

[2018-08-03 02:05] rdeavila commented on #211
I'm interested on this too.

[2018-08-05 18:55] rubiii commented on #214
You could overwrite the `User#authenticate` method:

[code]

[2018-08-05 18:58] rubiii commented on #183
What about making this configurable?

[2018-08-05 23:32] joelreyes23 opened #222 "Auth error:Error: invalid_grant: Invalid JWT:"
Hello everyone !

I am getting this error when trying to implement the google cloud platform " text-to-speech-api" .

"Auth error:Error: invalid_grant: Invalid JWT: Token must be a short-lived token (60 minutes) and in a reasonable timeframe. Check your iat and exp values and use a clock with skew to account for clock differences between systems."

My clock is UTC eastern standard time.

Help will

[2018-08-05 23:52] #222 closed

[2018-08-06 07:03] talakoski commented on #209
Seems this is nothing to do with Knock but Paperclip & AWS issue.

Description and solutions are discussed here:  https://github.com/thoughtbot/paperclip/issues/2484

[2018-08-08 17:51] nickvoegeli commented on #216
This happened to me after updating knock.  I had to delete `config/initializers/knock.rb` and re-run `rails generate knock:install`.

[2018-08-23 18:32] henvo commented on #148
I also encountered the same problem as described above:
`no method 'verify' for type String`
but I was not using Auth0 so I had no idea what @jessecravens is talking about.

I think the point that is missing in the description of `config/initializers/knock.rb` is that `token_public_key` needs to be from type `OpenSSL::PKey::RSA`. I passed the public key as a String.
But I got it working with:

[co

[2018-08-28 16:45] toadkicker opened #223 "Is there any way to use Knock with route constraints?"
I'm looking at authenticating [Shrine presigned routes](https://github.com/shrinerb/shrine/issues/251) through constraints and if the Knock::Authenticatable could be leveraged in a route constraint.

[2018-08-29 13:11] frontandstart commented on #57
@michaelunltd
I just read it and have idea to make it configurable but it already done
if you check last line of default knock initializer you will see this:
![screen shot 2018-08-29 at 4 07 07 pm](https://user-images.githubusercontent.com/8098344/44789642-c0f47580-aba5-11e8-950c-2b1e78960cd0.png)
And set [Mongoid::Errors::DocumentNotFound](https://www.rubydoc.info/github/mongoid/mongoid/Mongoid/E

[2018-09-01 08:37] #151 closed

[2018-09-01 08:38] #152 closed

[2018-09-01 08:38] #193 closed

[2018-09-02 14:59] ShiningBomb commented on #161
Where to put those 2 def-s and is authenticate_[class_name] on controller is enough after adding those lines?

[2018-09-02 20:33] arturhaddad commented on #161
@ShiningBomb you should put those methods on your class model.
If your class is Admin, you put it on app/model/Admin.rb, then you can use authenticate_admin on your controller

[2018-09-04 19:54] suyesh commented on #49
I have one stupid question. Will i be able to signout and still be able to use the same token later if i set the lifetime to nil?

[2018-09-10 12:54] belgoros opened #224 "[Documentation] Wrong link to stateless"
In why [should I use it section](https://github.com/nsarno/knock#why-should-i-use-this), the link to the wiki about stateless should be as follows:
https://en.wikipedia.org/wiki/Representational_state_transfer#Statelessness

[2018-09-11 09:31] kaliaabhishek commented on #220
Hi @kevinhughes27, I think you'll find [this](https://www.youtube.com/watch?v=Lvlhh6qhTIE) video useful.

[2018-09-11 15:20] JonaMX opened #226 "Can't verify CSRF token authenticity."
I have a rails 5.2.1 API-mode application and whenever I send a POST request to get a new JWT token I'm receiving a `Can't verify CSRF token authenticity.` error, which doesn't make sense since the CSRF token validation is disabled in a API mode.

here's my `user_token_controller.rb`
[code]

here's my `application_controller.rb`
[code]

here's my `config/initialiazers/knock.rb`
[code]

Here's the

[2018-09-11 18:31] kevinhughes27 commented on #220
ah so they use `undef_method` That would work too.

[2018-09-19 13:33] JamesAndresCM commented on #226
Add
[code]
in your ```user_token_controller.rb```

[2018-09-19 15:17] supert56 commented on #220
@kevinhughes27 I would be really interested in seeing how your defined your own current_user method because I'm currently facing exactly the same problem but am unsure how to go about solving it.

I have Devise powering authentication for ActiveAdmin but require Knock to authenticate my Rails API. At the moment my current_user is returning as nothing when the user authenticates which means I can't

[2018-09-19 16:40] supert56 commented on #70
When I add `undef_method :current_user` I receive the following error: `ActionController::RoutingError (undefined method 'current_user' for class 'ApiController'):`.

However, if I try to include `before_filter :authenticate_user` then I receive the error `Filter chain halted as :authenticate_user rendered or redirected. Completed 401 Unauthorized in 4ms (ActiveRecord: 0.0ms)`

I am using Devise t

[2018-09-20 11:15] kevinhughes27 commented on #220
Sure thing!

[code]

[2018-10-01 08:55] supert56 commented on #220
Awesome thanks for this Kevin!!

My issue actually turned out to be nothing to do with Devise and I have it all working now but this is still super helpful for when I undoubtedly hit the issue at some point in the future 👍

Thanks again!

[2018-10-04 20:03] lucasdavid commented on #158
I believe `include ActiveModel::Serialization` is missing in the `AuthToken` model?
Still, I managed to get it to work with this:
[code]

[2018-10-08 07:57] AustineA commented on #205
This  `config.token_secret_signature_key = -> { Rails.application.credentials.secret_key_base } `

For newbies wondering where to put this - Put it here `#config/initalizers/knock.rb`

[2018-10-16 06:48] serco-chen opened #228 "Namespaced model could cause a severe security issue if implemented as the doc suggests"
This is what doc suggests

[code]

This gem relies on [method_missing](https://github.com/nsarno/knock/blob/master/lib/knock/authenticable.rb#L14) to do the actuall authentication work.

However `authenticate_v1_user` defined in `ApplicationController` will override it and return a `nil` when lacking a valid token, what you really need is a `head(:unauthorized)` response.

I could be wrong since I

[2018-10-18 16:15] fabio-padovani89 commented on #228
I totally agree with @serco-chen.

I suggest you to update the documentation with something like:
[code]

[2018-10-25 14:16] JulienCorb opened #229 "access current_user in model"
I am trying to setup authorization rules for my admin pages (Admin: [Rails Admin](https://github.com/sferik/rails_admin)), with [CanCanCan](https://github.com/CanCanCommunity/cancancan) on my rails API backend after I built an auth system with `knock` and `bcrypt`.

the auth system works great and I can access `current_user` as expect in `/controllers/api/v1/users_controller.rb`.

But CanCanCan wo

[2018-10-29 23:44] JoshCheek commented on #212
I agree that it would be nice if the lib would check that it's not nil, I was similarly confused. Also, I think it's supposed to be `Rails.application.secret_key_base`, otherwise I'm pretty sure you'll wind up using the same key in dev and test as you do in prod.

We can see that it will choose a different value for test and dev, and will allow for environment vairable overriding in production, bu

[2018-10-29 23:50] JoshCheek commented on #205
I _think_ you're supposed to use `Rails.application.secret_key_base`, when I tried with `credentials`, it was using my production secret key base (okay, we had overridden it in prod, but you'll notice it's not the default dev / test secret key, which is derived from the app name:

[code]

Here's the relevant code, note that it only uses the credentials file / environment variable when it's in prod

[2018-11-02 12:34] maxrosecollins opened #231 "Decoding the JWT"
How can I decode the JWT in my application?

So for I have tried the following

`token = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1Mzg1ODczMTIsInN1YiI6Mn0.iZS0BO8Pd8paLDkEsIXgs58xNgN3iyamkn7RI57xufU"`

`JWT.decode(token, Rails.application.secrets.secret_key_base, { algorithm: 'HS256' })`

But I get an error `Signature verification raised`

What have I done wrong?

[2018-11-02 12:43] maxrosecollins commented on #231
Sorry, my mistake. The token was expired

[2018-11-02 12:43] #231 closed

[2018-11-18 22:55] 7ail opened #233 "Two different token expiries in a single application"
Hi,

I just wanted to know if this gem handles multiple different expiry times for tokens.

In my case, we have a web portal and apps. We want to have the jwt token to expire in 1hr for the web portal but have it expiry in 30 days for the app.

From what I can gather, it seems that the config file only supports either or but not both. Some help/insight will be much appreciated

Regards
7ail

[2018-11-27 14:04] santosgian28 opened #234 "Can't verify CSRF token authenticity. Completed 422 Unprocessable Entity in 0ms (ActiveRecord: 0.0ms)"
[code]
Hi, i am experiencing this issue if i ran the app on rails  ~> v5.2, it works on v5.1.6, does anyone encountering this issue? Thanks in advance!

[2018-11-27 14:05] #234 closed

[2018-12-13 07:45] jpheos commented on #165
https://haydenluckenbach.com/posts/firebase-knock helped me

[2018-12-14 21:17] lostie opened #235 "Configuration issues"
Hi, I've been trying to configure a Rails API 5.2 app with Knock (using Auth0) following the instructions and I got to a point that I was just getting a:

`Filter chain halted as :authenticate_user rendered or redirected`

Unfortunately there's no logging associated to any of the gems involved in this process so I had to dig in and try to investigate what was exactly happening. After some investig

[2018-12-31 07:16] kevanmoothien commented on #138
This works for me:
`before_action :authenticate_user!, except: :action_here`

[2019-01-08 16:51] ionutzp commented on #5
@tindron how did you find this fix? i'm curious because just had the same problem and your solution worked. Thanks!

[2019-01-22 12:53] matejLukasik commented on #194
@sterrym Have you ever figured out how to do this? If so, how?

[2019-01-22 15:06] sterrym commented on #194
@matejLukasik Unfortunately (for this thread), we ended up going a different direction on the app we were working on and didn't use the knock gem at all. We ended up doing unauthenticated calls as regular API calls which created the JWT for us using the devise-jwt gem (https://github.com/waiting-for-dev/devise-jwt).

If I were doing it now, I might stick with knock but I think I'd still implement

[2019-01-27 08:13] sumitdey035 commented on #104
I'm using version 2.1.1 and still getting nil on the first call of current_user.

[2019-02-02 22:24] beto0607 opened #236 "Header customization"
Hello.

Is there any way for customize where the token will be in the request?

I need to send the token in a header called "X-QA-Key". But Knock only checks "Auhorization".

Thank you.

[2019-02-03 18:42] beto0607 commented on #236
Hello again.

I just override #token_from_request_headers in my ApplicationController.

Here is a screenshot.
![image](https://user-images.githubusercontent.com/2981304/52180895-3e15bd80-27ca-11e9-8241-70b5305ca43a.png)

Thanks.

[2019-02-03 18:42] #236 closed

[2019-02-11 08:11] chibuezeayogu commented on #205
Adding `RAILS_MASTER_KEY` with the key in `master.key` as an environmental variable in CircleCI fixed it for me.

[2019-02-18 01:13] rankin commented on #148
My man, thank you! This one was brutal.

[2019-02-21 15:38] jalberto opened #237 "Is this project abandoned?"
I love the simplicity of this gem, but is getting outdated related to JWT and Rails itself.
There are some small PRs that will mitigate this.

[2019-02-28 14:23] nickhall commented on #237
Oh...

[2019-02-28 15:28] jalberto commented on #237
then maybe @nsarno is having some issues or requires help?

[2019-03-01 04:59] nsarno commented on #237
@nickhall every time I arrive on this page, I stare at this line for 30s and consider committing to erase it then just proceed to back away slowly and pretend it doesn't exist for the next 3 months. Excuse my foolishness, I was young and pretentious. But feel free to fork of course...

@jalberto Thank you. I would be more than happy to onboard and add as a collaborator people willing to help! Let

[2019-03-01 05:04] nickhall commented on #237
Forgive my snarkiness. There are a number of pull requests that have gone unanswered so I assumed the worst. If you really do just need help I'd be glad to take a look as well!

[2019-03-01 10:05] jalberto commented on #237
@nsarno I am willing to help :)
I don't promise to be able to dedicate lot of time, but enough to review some PRs and help to keep this nice lib alive :)

[2019-04-06 08:42] bjensen commented on #237
So what is the alternative? Currently Im using just the jwt gem with auth0 but rspec request specs seam to be a bit of a pain..

[2019-04-06 16:33] jalberto commented on #237
I plan to begin some review work and updates as soon my current work peak
is back to normal.

Meanwhile feel free to use PRs to address your issues.

El sáb., 6 abr. 2019 10:42, Brian Jensen <notifications@github.com>
escribió:

[2019-04-15 17:53] filipemenezes commented on #190
[code]

[2019-05-07 11:56] #150 closed

[2019-05-09 02:36] n2xnot opened #239 "undefined method `sign' for #<String:0x0000558a8137fcd8>"
Hi,
I'm following the authentication example written in the README, but I can't make it works because it is failing with the following exception:

[code]

[code]

This is how my initializer looks:

[code]

I will really appreciate it if someone can suggest me what's wrong with my code.

[2019-05-10 02:36] n2xnot commented on #239
Hello again, I just resolved.
It was necessary to set OpenSSL::PKey::RSA Object to token_secret_signature_key when selecting RS256 algorithm.

[code]

JWT Code(RS256)
[code]

[2019-05-10 02:37] #239 closed

[2019-05-25 12:35] aruprakshit commented on #208
Why do you skip `verify_authenticity_token` in that controller?

[2019-06-02 13:52] ShakeJ opened #240 "Support rails 6 autoload zeitwerk"
Rails 6 default auto loader is 'zeitwerk',
<img width="1038" alt="스크린샷 2019-06-02 오후 10 50 48" src="https://user-images.githubusercontent.com/4054312/58762217-e5440f00-8588-11e9-8fe3-4fc4e0ababea.png">

This method requires that the file name be exactly in the class name, but is there a support policy for that method?

[2019-06-12 18:12] sshaw commented on #237
@jalberto would be good to do a release with [this fix](https://github.com/nsarno/knock/commit/26c9090abc11b0eecc369d4c8f89f90c10f3ae33). Work is already done.

This caused some problems for me today, i.e., the authentication was failing because an error related to a bug in the code was being swallowed.  😿

[2019-06-15 02:05] kwent commented on #237
@jalberto please give us some news and try to find a new maintainer 🙏🙏

[2019-06-24 14:41] FunkyloverOne commented on #240
Hey @ShakeJ, why did you close an issue?

[2019-07-15 06:31] ShakeJ commented on #240
@FunkyloverOne Hi :) I used knock gem!
My project upgrade rails 6.0, and some problem happend.
rails 6.0 changed default autoloader is classic to zeitwerk.
but knock gem is not acceptable autoloader(zeitwerk).

Please check this discussion : https://github.com/rails/rails/issues/36381
Thanks.

[2019-07-16 16:52] Flexicon commented on #148
@jessecravens I know this is old, but thank you so much! I was missing the `OpenSSL::PKey::RSA` bit and it was driving me insane!

[2019-07-25 17:05] vcavallo commented on #233
hey @7ail did you ever end up figuring this out?

[2019-07-25 17:26] vcavallo opened #241 "Allow multiple token lifetimes"
https://github.com/nsarno/knock/blob/66b60437a5acc28e4863f011ab59324dc1b5d0ae/app/model/knock/auth_token.rb#L55

As mentioned here https://github.com/nsarno/knock/issues/233 it could be useful to have different token lifetimes for different use cases in the same application.

I'm thinking that this config option could (optionally) be a hash of various time values, keyed to whatever makes sense for

[2019-07-25 22:23] 7ail commented on #233
@vcavallo yes we did, however it felt rather hacky. We decided to extend the knock gem and override the jwt token generation function to cater for our use case.

We left the 1 hour as a default value through the config file and whenever the jwt is generated through the mobile controllers, we utilise the overwritten jwt token generation function instead

[2019-07-26 01:31] johnknapp commented on #240
The solution outlined in the discussion mentioned above did not solve the ActionController::InvalidAuthenticityToken in rails 6.0.0.rc2

[2019-08-05 19:58] vcavallo commented on #179
Thanks, @krsyoung ! I'm surprised this doesn't have any more comments on it. It's a very helpful issue. If Knock was more presently-maintained I'd say it should be included in the main documentation..

[2019-08-12 04:19] diakonovm commented on #241
This would be a good feature as a simple use case would be setting a very short administrator token lifetime in comparison to a normal application user.

[2019-08-12 11:47] vcavallo commented on #241
that’s exactly what I want to do, @diakonvm

On Mon, Aug 12, 2019 at 12:19 AM diakonovm <notifications@github.com> wrote:

--
Sent from a phone

[2019-08-12 16:07] diakonovm commented on #241
[code]

...would be a good interface in the `initializer`, just set the key to the `entity_name`. If it is not a `Hash`, then just default back to the current setting.

[code]

[2019-08-22 06:36] DSAMPAT commented on #208
https://stackoverflow.com/questions/35181340/rails-cant-verify-csrf-token-authenticity-when-making-a-post-request

[2019-08-22 22:03] dcalixto opened #244 "boolan params on token_payload"
i'd like to know if is possible to set a boolean param on the auth process like for exemple a email_confirmation_token just 200 ok to the params set true?

[2019-08-26 15:55] yuuu opened #245 "Rails6: [WARNING] Could not load generator "generators/knock/install_generator"."
Please tell me what to do.

### Steps to reproduce
1. Execute `rails new sample_project --api` .
2. Add `gem 'knock'` to `Gemfile`
3. Execute `bundle install`
4. Execute `rails generate knock:install` .

### Expected behavior
`config/initializers/knock.rb` is created without errors.

### Actual behavior
The following message is output.

[code]

### System configuration
**Rails version**: 6.0.0

**

[2019-08-26 15:58] yuuu commented on #245
When the following is added to application.rb, the error is no longer output.

[code]

[2019-08-27 00:21] yuuu commented on #245
I understood this problem causes by zeitwerk that is rails6 autoloader.
I close this issue.
https://github.com/rails/rails/issues/36381

[2019-08-27 00:21] #245 closed

[2019-08-28 15:00] BortoBoy opened #246 "Response with Bad Credencials"
If i send a Good Credencials post to my `UserTokenController < Knock::AuthTokenController` the default render object is a jbuilder wich the same name than the action in the controller. **But** if i send bad credencials, the only thing  i can handle on the response is the status: 404. The action called by the routes for this path is not called too, just the method `auth_params`, unabling me to crea

[2019-08-29 16:25] BortoBoy commented on #44
@mhuggins i had spent a lot of time trying to find this information. Where did you find it ?

[2019-08-29 17:44] mhuggins commented on #44
I don't recall, it was 2.5 years ago. 😄

[2019-09-04 11:43] alcidesjunior commented on #213
me too :/

[2019-09-04 11:59] alcidesjunior commented on #44
Do You know how I can custom all errors messages providing from http?
Thank you.

[2019-09-04 12:18] alcidesjunior commented on #44
I agree!

[2019-09-09 16:24] sshaw commented on #246
Can't you override `unauthorized_entity`? https://github.com/nsarno/knock#usage

[2019-09-09 20:19] BortoBoy commented on #246
I solved the problem this  way:

[code]

[2019-09-15 02:49] rafaelpivato commented on #141
Sorry, but this makes no sense to me. Working outside *de faco* standards doesn't seems valid here not even to employ some kind of security by obfuscation. You should return HTTP 401 for *both* invalid user or invalid password.

I did read your other GitHub issues and is clear that, even though people asked for, you could not supply a clear reference from whether did you get that assumption that a

[2019-09-15 03:25] rafaelpivato commented on #141
Just to make my point more clear. I understand the security advantages of replying with HTTP 404 for an anonymous user trying to access a protected resource that requires authentication like, e.g, `/api/wallet`.

I saw in the code we have a way to customize the unauthorized entity when a user doesn't gets authenticated. **I see this as an issue**, but it is still good giving people the option to c

[2019-09-15 15:44] #244 closed

[2019-09-16 16:11] dcalixto opened #247 "Config the entity model to a boolean param"
Hello, i'm trying to config the entity model to login if the confirmation_email is set to true,
Everything is working  very well beside this detail, as this kind of situation is not on the docs i'd like to know if this is possible with knock.

[code]

So, i've trying to

[code]

Someone, can clarify about this?

[2019-09-19 16:52] #247 closed

[2019-10-06 01:38] mh801 commented on #189
same as above but I dont auto login admin users and sends a user and token back

`      if user.save!
        if role.user?
          token = Knock::AuthToken.new(payload: {sub: user.id}).token
        else
          token = ''
        end
        render json: {user: user, token: token}, status: 200`

[2019-10-19 12:26] nabeelnazir commented on #189
@hanchennz is there any method exists which will return JWT of currently logged in user without creating a new JWT again and again?
Actually I need this in my specs for testing every API call.

[2019-10-30 02:13] activeliang commented on #245
thx~

[2019-11-05 21:27] Mayurifag commented on #240
Any work on this?

[2019-11-05 21:29] ShakeJ commented on #240
thanks :)

[2019-11-05 21:29] #240 closed

[2019-12-05 21:45] #246 closed

[2019-12-05 21:47] #237 closed

[2019-12-05 21:49] nsarno commented on #229
This is lacking error details and doesn't look like an issue with the gem. Closing for now. Please feel free to re-open if you think there is indeed an issue with the gem.

[2019-12-05 21:49] #229 closed

[2019-12-05 21:56] nsarno commented on #233
Thank you. Closing this issue in favour of #241 which provide some extra details. Will consider supporting this in the future.

[2019-12-05 21:56] #233 closed

[2019-12-08 13:17] tisba commented on #240
How did you solve this issue, @ShakeJ?

[2019-12-09 11:20] nsarno commented on #240
The issue should be fixed once #248 is merged.

[2019-12-11 18:28] andrerpbts commented on #224
The PR fixing it was merged and I'm closing it. Thank you 👍

[2019-12-11 18:28] #224 closed

[2019-12-11 19:19] andrerpbts commented on #197
Closing this issue since it seems to be answered in a good way and is already open for a long time :)

[2019-12-11 19:19] #197 closed

[2019-12-11 19:47] andrerpbts commented on #178
Hello,

By definition, once a JWT is generated, it can't be changed anymore, so I see this more related to the client (to drop existing token on logout) than the server that provided the token. Conceptually talking, any expiration control you add in the API will turn it not stateless anymore, which is a core concept of Knock.

So, the client may keep the token, control permissions for it and preve

[2019-12-11 19:47] #178 closed

[2019-12-13 02:46] kwent opened #249 "Rails 6 | ArgumentError (Befor authenticate_user e process_action callback :has not been defined):"
When having `config.load_defaults 6.0` in `config/application.rb`
[code]

The following exception is raised:

[code]

Modifying `config/application.rb` with below fixes it.

[code]

[2019-12-16 09:53] thoechtl opened #250 "Starting with Rails 6 | uninitialized constant Knock::Authenticable"
Starting a fresh Rails 6 project and including Knock:Authenticable results in an error:
`uninitialized constant Knock::Authenticable`

**Everything works when starting with Rails 5.2.3 and and then updating to Rails 6.**

There are also errors when using the generators:

`rails generate knock:install`
_[WARNING] Could not load generator "generators/knock/install_generator". Error: expected file /U

[2019-12-16 14:23] andrerpbts commented on #250
@thoechtl I think it'll be fixed when 2.2 (#248) gets released. I'll close this for instance, and if the problem persists after it, we can reopen this issue.

Thank you

[2019-12-16 14:23] #250 closed

[2019-12-16 14:28] andrerpbts commented on #249
@kwent

Please, can you give it a try with 2.2 (#248) branch?

[2019-12-16 14:38] andrerpbts commented on #241
@nsarno

I'm assigning @renatamarques97 to handle this 👍

[2019-12-16 14:41] renatamarques97 commented on #241
can I take this?

[2019-12-20 17:19] andrerpbts commented on #226
#248 will handle this change 😃

Closing this one 👍

[2019-12-20 17:19] #226 closed

[2019-12-20 17:33] andrerpbts commented on #211
Hello,

Since Knock was designed to be stateless, so I think it shouldn't, by default, store generated tokens...

However, you can easily override it and implement it inside your application...

[2019-12-20 17:33] #211 closed

[2019-12-20 17:36] #175 closed

[2019-12-20 17:36] #176 closed

[2019-12-20 17:37] #173 closed

[2019-12-20 17:40] #92 closed

[2019-12-20 17:41] #161 closed

[2019-12-24 02:04] Jouxev commented on #152
Thank You Man !!! You're just awesome

[2019-12-31 23:00] hackerghost93 commented on #46
I have the same issue in rails 'rails', '~> 6.0.2', '>= 6.0.2.1' following the Readme steps does prompt the same issue referring to the line in application controller include Knock::Authenticable. Any help ?

[2020-01-03 01:17] kwent commented on #249
2.2 (#248) branch fixes it ! Thanks

[2020-01-03 01:17] #249 closed

[2020-01-13 21:22] dhyegocalota opened #252 "Zeitwerk::NameError"
# Description
I'm trying to `include Knock::Authenticable` to my `ApplicationController` but I'm getting an error of `Zeitwerk` lib:

![image](https://user-images.githubusercontent.com/5576007/72293098-2e813480-3629-11ea-90fc-a3e59fc90554.png)

## Log
[code]

[2020-01-22 04:34] getaaron opened #254 "Failing tests / CI build (uninitialized constant Knock::InstallGenerator)"
I noticed that the latest commit on `master` is [failing on CI](https://travis-ci.org/nsarno/knock/builds/623799631):

[code]

I was going to try to fix it and open a PR, but when I run the same command locally I get a different error:

[code]

I tried adding a blank manifest file:

[code]

But even after doing that, when running `bundle exec rake` I still get the same `Sprockets::Railtie::Manifes

[2020-01-30 16:53] ShiningBomb commented on #65
Check my fork, I just implemented a secure refresh token for knock
https://github.com/ShiningBomb/knock

[2020-02-03 09:28] nsarno commented on #254
Thanks for the report. I believe this should get fixed by #248. I'll try to finalise and release it this week if I find the time. Please review and let me know.

[2020-02-03 09:29] nsarno commented on #252
I believe this should get fixed when #248 is merged. Feel free to review it and let me know.

[2020-02-05 02:03] jnewman12 commented on #46
I second @hackerghost93 current using rails 6 and getting the error `uninitialized constant Knock::Authenticable` on any route inheriting from `ApplicationController`

currently added
- `gem 'knock'` to gemfile + ran bundle install
- ran the generator `rails generate knock:install`
- ran `rails generate knock:token_controller app` (app being model I am authenticating)
- In my `ApplicationControlle

[2020-02-11 17:51] rwehresmann opened #255 "How to override methods using Knock with Rails 6"
Zeitwerk that comes with Rails 6 introduced some problems with the current version of Knock, and I could solve them with the work that's being done in the branch [v2.2](https://github.com/nsarno/knock/tree/v2.2).

However, I have an application where I use Knock with Auth0 and I override a method for the purposes of the application:

initializers/knock.rb:

[code]

That isn't working anymore. I si

[2020-02-13 01:44] beamercola commented on #65
@ShiningBomb hey this looks really good - what are the limitations or security concerns with this?  From the client perspective, where would you store refresh token?  cookies?

[2020-02-18 05:55] matthewshirley commented on #223
I know this is an old issue but I bumped into this problem today. This is the current implementation I'm using:

[code]

Be wary as I'm not familiar with the Knock APIs.

[2020-03-16 07:52] #254 closed

[2020-03-16 07:53] #252 closed

[2020-03-16 07:53] #241 closed

[2020-03-16 07:54] #205 closed

[2020-03-16 07:55] #220 closed

[2020-03-17 20:11] Kukunin opened #257 "Crash if token_secret_signature_key returns empty string"
The problem happened with a fork of `knock` which I was using for a long time: https://github.com/JonaMX/knock.

It worked well until I decided to upgrade to the newer fork of `knock` - this repository. I noticed that previous tokens stopped work and I started to dig.

It turned out, that in that fork, the author replaced to `self.token_secret_signature_key = -> { Rails.application.credentials.rea

[2020-03-18 13:56] andrerpbts commented on #257
Similar to #212

There's an open PR that we started a discussion about it: #225

Feel free to contribute there, with suggestions or opening a new PR considering the points raised there...

Thanks!

[2020-04-11 09:42] AustineA commented on #117
If you ever run into this - Here is a solution for you.
Add this after  UserTokenController method in user_token_controller.rub

`Knock::AuthTokenController.class_eval do

  def create
    user = User.find(entity.id)
    render json: {
jwt: auth_token.token,
        company_name: user.company_name,
        name: user.name,
        invoice_settings: user.invoice_settings
      }, status: :created

[2020-04-17 11:10] sbrocos commented on #250
when will the new version(2.2) come out? because with my new project I can't use this gem for this

[2020-04-17 12:49] thoechtl commented on #250
The last commit 9214cd0 from March 16 should work with Rails 6. If you can't wait specify the commit in your gemfile and update later to version 2.2:

`gem 'knock', git: 'https://github.com/nsarno/knock', branch: 'master', ref: '9214cd027422df8dc31eb67c60032fbbf8fc100b'`

[2020-04-17 13:04] sbrocos commented on #250
THANKS!!!!!

[2020-05-08 22:53] Tripple-A commented on #250
@sbrocos , After referencing the git branch and ref as you suggested, I get the error 'Could not find generator 'knock:install'.'  I added the line 'config.load_defaults 6.0 and config.autoloader = :classic' to my application.rb and still no change in output.

[2020-05-09 06:44] aaron-humerickhouse commented on #141
Coming across this years later, I solved it by overriding the authenticate method from the base class.

[code]

[2020-05-14 21:14] coffenbacher commented on #141
I agree with @rafaelpivato that 401 simply makes more sense here, this has confused me and my team a number of times over the years, when we think we made a mistake with URL or routing rather than credentials / authentication because of the 404 status.

Also, our 404 error handling gets tripped up by this and needs a special case since it's fundamentally not what would we'd consider a 404.

My tea

[2020-05-27 04:25] dcalixto opened #262 "Rails 5.2 heroku Jwt Knock issue"
After setup knock and check it on development everything went well, so i pushed the repo to heroku and for login the knock generate the token and login fine, but when go a authorized section like profile in the logs shows:

    2020-05-27T04:20:22.662100+00:00 app[web.1]: I, [2020-05-27T04:20:22.660299 #4]  INFO -- : [4099a96f-91b7-4a5d-948f-50f958d86850] Filter chain halted as :authenticate_user

[2020-05-31 02:06] Galileuu commented on #46
thank you, helped me a lot!

[2020-06-15 02:44] heitorado commented on #194
Hello!

I'm also facing this issue:

Is there any way to allow certain mutations to be executed by unauthenticated users?

[2020-06-17 17:31] aarondmills commented on #213
Anyone have a solution for this?

[2020-06-17 18:36] dtgay commented on #250
@Tripple-A Did you ever figure out how to get things working? I'm stuck around this point as well. Strangely, the current readme for knock doesn't even mention generators, but all blog posts I'm finding _do_ mention generators. Maybe they are no longer used?

It's really unclear how my token controller is meant to look.

[2020-06-17 18:38] Tripple-A commented on #250
I didn't, it appears it isn't compatible with Rails 6.0 yet. I eventually
used another gem for authentication.

On Wed, Jun 17, 2020, 19:36 David Gay <notifications@github.com> wrote:

[2020-06-17 21:34] dtgay commented on #250
For any future travelers, **I figured it out.** I've got knock working in my Rails 6 API. I wrote up the details here: https://davidgay.org/software/jwt-auth-rails-6-knock/

[2020-06-21 07:51] #262 closed

[2020-07-18 13:07] errawn commented on #229
Hi! have you figured this out? I'm also facing this. CanCanCan cannot access current_user from knock

[2020-07-18 13:18] errawn commented on #229
Hi! @JulienCorb and future readers!
I made it work by including `  include Knock::Authenticable` and changing the parameter of initialize method from user to current_user

please see working code below:

**app/models/ability.rb**
[code]

**app/controllers/application_controller.rb**
[code]

**Result:**
![image](https://user-images.githubusercontent.com/18679035/87853390-238ec000-c93c-11ea-8e21-2d7